{"openapi":"3.1.0","info":{"title":"SIC Alert API","version":"2.20260915-34956570594-c34014083157716493e3574e7b04ad1663c97a85","description":"Manage alerts raised by SIC engines"},"servers":[{"url":"https://api.sekoia.io","description":"Sekoia.io API"}],"paths":{"/v1/sic/alerts":{"get":{"responses":{"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"200":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/AlertsSchema"}}}},"400":{"description":"Invalid parameters"}},"summary":"List alerts","description":"An alert denotes the sighting of one or more indicator given a set of events.\nThis paginated endpoint list all the alerts. A set of filters can be\nspecified to focus on certain alerts.\n\nThe following permissions are required:\n - “View alerts” (`9ea2b8a3-593f-4bab-92f5-d0af9b563f6f`)","operationId":"get_alerts_resource","parameters":[{"in":"query","name":"match[community_uuid]","type":"string","description":"Match alerts by their community uuids.","required":false},{"in":"query","name":"match[entity_name]","type":"string","description":"Match alerts by their entity names (separated by commas).","required":false},{"in":"query","name":"match[entity_uuid]","type":"string","description":"Match alerts by their entity uuids (separated by commas).","required":false},{"in":"query","name":"match[status_uuid]","type":"string","description":"Match alerts by their status uuids (separated by commas).","required":false},{"in":"query","name":"match[status_name]","type":"string","description":"Match alerts by their status name (separated by commas).","required":false},{"in":"query","name":"match[type_category]","type":"string","description":"Match alerts by their type categories (separated by commas).","required":false},{"in":"query","name":"match[type_value]","type":"string","description":"Match alerts by their type values (separated by commas).","required":false},{"in":"query","name":"match[source]","type":"string","description":"Match alerts by their sources (separated by commas).","required":false},{"in":"query","name":"match[target]","type":"string","description":"Match alerts by their targets (separated by commas).","required":false},{"in":"query","name":"match[node]","type":"string","description":"Match alerts either by their sources or their targets (separated by commas).","required":false},{"in":"query","name":"match[stix_object]","type":"string","description":"Match alerts that contains requested STIX objects IDs","required":false},{"in":"query","name":"match[rule_uuid]","type":"string","description":"Match alerts by their rule uuids (separated by commas).","required":false},{"in":"query","name":"match[rule_name]","type":"string","description":"Match alerts by their rule names (separated by commas).","required":false},{"in":"query","name":"match[detection_type]","type":"string","description":"Match alerts by their detection type (separated by commas).","required":false},{"in":"query","name":"match[short_id]","type":"string","description":"Match alerts by their short_id (separated by commas).","required":false},{"in":"query","name":"match[uuid]","type":"string","description":"Match alerts by their uuid (separated by commas).","required":false},{"in":"query","name":"match[title]","type":"string","description":"Match alerts by their title (separated by commas).","required":false},{"in":"query","name":"match[resolved_title]","type":"string","description":"Match alerts by their resolved title (separated by commas).","required":false},{"in":"query","name":"match[asset_uuid]","type":"string","description":"Match alerts for specific assets (separated by commas).","required":false},{"in":"query","name":"match[urgency_display]","type":"string","description":"Match alerts for specific urgency display (separated by commas).","required":false},{"in":"query","name":"match[case_short_id]","type":"string","description":"Match alerts by their case short_id (separated by commas).","required":false},{"in":"query","name":"match[assignee]","type":"string","description":"Match alerts by their assignee uuid (separated by commas).","required":false},{"in":"query","name":"match[custom_status_uuid]","type":"string","description":"Match alerts by their custom status uuid (separated by commas).","required":false},{"in":"query","name":"match[verdict_uuid]","type":"string","description":"Match alerts by their verdict uuid (separated by commas).","required":false},{"in":"query","name":"match[custom_field]","type":"string","description":"Match alerts by their custom field value, using 'uuid:value' format (e.g. '123e4567-e89b-12d3-a456-426614174000:Phishing'), or by field existence using a UUID (e.g. '123e4567-e89b-12d3-a456-426614174000').","required":false},{"in":"query","name":"date[created_at]","type":"string","default":null,"description":"Filter alerts by their creation dates (see rfc3339).","format":"date-range","example":"2025-01-01T00:00:00,2025-12-31T23:59:59","x-nullable":true,"required":false},{"in":"query","name":"date[updated_at]","type":"string","default":null,"description":"Filter alerts by their update dates (see rfc3339).","format":"date-range","example":"2025-01-01T00:00:00,2025-12-31T23:59:59","x-nullable":true,"required":false},{"in":"query","name":"range[urgency]","type":"string","default":null,"description":"Filter alerts by their urgencies.","x-nullable":true,"required":false},{"in":"query","name":"range[similar]","type":"string","default":null,"description":"Filter alerts by their number of similar occurrences.","x-nullable":true,"required":false},{"in":"query","name":"visible","type":"boolean","default":true,"description":"Filter alerts according their visibility","required":false},{"in":"query","name":"is_assigned_to_case","type":"boolean","description":"Filter alerts assigned to a case","required":false},{"in":"query","name":"similar_to","type":"string","default":null,"description":"Filter alerts similar to the provided alert short ID","x-nullable":true,"required":false},{"in":"query","name":"nomatch[asset_uuid]","type":"string","description":"Exclude alerts for specific assets (separated by commas).","required":false},{"in":"query","name":"nomatch[entity_uuid]","type":"string","description":"Exclude alerts for specific entities (separated by commas).","required":false},{"in":"query","name":"nomatch[rule_uuid]","type":"string","description":"Exclude alerts for specific rules (separated by commas).","required":false},{"in":"query","name":"nomatch[rule_name]","type":"string","description":"Exclude alerts for specific rules (separated by commas).","required":false},{"in":"query","name":"nomatch[detection_type]","type":"string","description":"Exclude detection type (separated by commas).","required":false},{"in":"query","name":"nomatch[source]","type":"string","description":"Exclude alerts for specific sources (separated by commas).","required":false},{"in":"query","name":"nomatch[target]","type":"string","description":"Exclude alerts for specific targets (separated by commas).","required":false},{"in":"query","name":"nomatch[status_uuid]","type":"string","description":"Exclude alerts with specific statuses (separated by commas).","required":false},{"in":"query","name":"nomatch[stix_object]","type":"string","description":"Exclude alerts for specific threats (separated by commas).","required":false},{"in":"query","name":"nomatch[type_value]","type":"string","description":"Exclude alerts for specific type values (separated by commas).","required":false},{"in":"query","name":"nomatch[urgency_display]","type":"string","description":"Exclude alerts for specific urgency display (separated by commas).","required":false},{"in":"query","name":"nomatch[assignee]","type":"string","description":"Exclude alerts by their assignee uuid (separated by commas).","required":false},{"in":"query","name":"nomatch[custom_status_uuid]","type":"string","description":"Exclude alerts by their custom status uuid (separated by commas).","required":false},{"in":"query","name":"nomatch[verdict_uuid]","type":"string","description":"Exclude alerts by their verdict uuid (separated by commas).","required":false},{"in":"query","name":"limit","type":"integer","default":20,"minimum":1,"maximum":100,"description":"limit a number of items (allowed range is 1-100), default is 20.","required":false},{"in":"query","name":"offset","type":"integer","default":0,"minimum":0,"description":"a number of items to skip, default is 0.","required":false},{"in":"query","name":"stix","type":"boolean","default":false,"description":"If set, the STIX bundle object is also returned.","required":false},{"in":"query","name":"cases","type":"boolean","default":false,"description":"If set, some information about related cases is also returned.","required":false},{"in":"query","name":"sort","description":"field to sort returned alerts","enum":["created_at","source","target","urgency","entity","type","status","rule_name","updated_at","similar"],"type":"string","required":false},{"in":"query","name":"direction","type":"string","description":"Direction of the sort (accepted values: 'asc', 'desc').","required":false},{"in":"query","name":"with_count","type":"boolean","default":true,"description":"Whether or not the total should be returned in the response","required":false}],"tags":["Detection","Alerts"]}},"/v1/sic/alerts/bulk/add-to-case":{"patch":{"responses":{"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"200":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/TaskIdSchema"}}}},"400":{"description":"Invalid parameters"}},"summary":"Add alerts to a case","description":"The following permissions are required:\n - “Manage alerts” (`0e329f9c-173f-4fa0-bbbc-fcfc4bdf7559`)","operationId":"patch_alert_case_bulk_ressource","parameters":[],"tags":["Detection","Alerts","Cases"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"match[community_uuid]":{"type":"string","description":"Match alerts by their community uuids."},"match[entity_name]":{"type":"string","description":"Match alerts by their entity names (separated by commas)."},"match[entity_uuid]":{"type":"string","description":"Match alerts by their entity uuids (separated by commas)."},"match[status_uuid]":{"type":"string","description":"Match alerts by their status uuids (separated by commas)."},"match[status_name]":{"type":"string","description":"Match alerts by their status name (separated by commas)."},"match[type_category]":{"type":"string","description":"Match alerts by their type categories (separated by commas)."},"match[type_value]":{"type":"string","description":"Match alerts by their type values (separated by commas)."},"match[source]":{"type":"string","description":"Match alerts by their sources (separated by commas)."},"match[target]":{"type":"string","description":"Match alerts by their targets (separated by commas)."},"match[node]":{"type":"string","description":"Match alerts either by their sources or their targets (separated by commas)."},"match[stix_object]":{"type":"string","description":"Match alerts that contains requested STIX objects IDs"},"match[rule_uuid]":{"type":"string","description":"Match alerts by their rule uuids (separated by commas)."},"match[rule_name]":{"type":"string","description":"Match alerts by their rule names (separated by commas)."},"match[detection_type]":{"type":"string","description":"Match alerts by their detection type (separated by commas)."},"match[short_id]":{"type":"string","description":"Match alerts by their short_id (separated by commas)."},"match[uuid]":{"type":"string","description":"Match alerts by their uuid (separated by commas)."},"match[title]":{"type":"string","description":"Match alerts by their title (separated by commas)."},"match[resolved_title]":{"type":"string","description":"Match alerts by their resolved title (separated by commas)."},"match[asset_uuid]":{"type":"string","description":"Match alerts for specific assets (separated by commas)."},"match[urgency_display]":{"type":"string","description":"Match alerts for specific urgency display (separated by commas)."},"match[case_short_id]":{"type":"string","description":"Match alerts by their case short_id (separated by commas)."},"match[assignee]":{"type":"string","description":"Match alerts by their assignee uuid (separated by commas)."},"match[custom_status_uuid]":{"type":"string","description":"Match alerts by their custom status uuid (separated by commas)."},"match[verdict_uuid]":{"type":"string","description":"Match alerts by their verdict uuid (separated by commas)."},"match[custom_field]":{"type":"string","description":"Match alerts by their custom field value, using 'uuid:value' format (e.g. '123e4567-e89b-12d3-a456-426614174000:Phishing'), or by field existence using a UUID (e.g. '123e4567-e89b-12d3-a456-426614174000')."},"date[created_at]":{"type":"string","default":null,"description":"Filter alerts by their creation dates (see rfc3339).","format":"date-range","example":"2025-01-01T00:00:00,2025-12-31T23:59:59","x-nullable":true},"date[updated_at]":{"type":"string","default":null,"description":"Filter alerts by their update dates (see rfc3339).","format":"date-range","example":"2025-01-01T00:00:00,2025-12-31T23:59:59","x-nullable":true},"range[urgency]":{"type":"string","default":null,"description":"Filter alerts by their urgencies.","x-nullable":true},"range[similar]":{"type":"string","default":null,"description":"Filter alerts by their number of similar occurrences.","x-nullable":true},"visible":{"type":"boolean","default":true,"description":"Filter alerts according their visibility"},"is_assigned_to_case":{"type":"boolean","description":"Filter alerts assigned to a case"},"similar_to":{"type":"string","default":null,"description":"Filter alerts similar to the provided alert short ID","x-nullable":true},"nomatch[asset_uuid]":{"type":"string","description":"Exclude alerts for specific assets (separated by commas)."},"nomatch[entity_uuid]":{"type":"string","description":"Exclude alerts for specific entities (separated by commas)."},"nomatch[rule_uuid]":{"type":"string","description":"Exclude alerts for specific rules (separated by commas)."},"nomatch[rule_name]":{"type":"string","description":"Exclude alerts for specific rules (separated by commas)."},"nomatch[detection_type]":{"type":"string","description":"Exclude detection type (separated by commas)."},"nomatch[source]":{"type":"string","description":"Exclude alerts for specific sources (separated by commas)."},"nomatch[target]":{"type":"string","description":"Exclude alerts for specific targets (separated by commas)."},"nomatch[status_uuid]":{"type":"string","description":"Exclude alerts with specific statuses (separated by commas)."},"nomatch[stix_object]":{"type":"string","description":"Exclude alerts for specific threats (separated by commas)."},"nomatch[type_value]":{"type":"string","description":"Exclude alerts for specific type values (separated by commas)."},"nomatch[urgency_display]":{"type":"string","description":"Exclude alerts for specific urgency display (separated by commas)."},"nomatch[assignee]":{"type":"string","description":"Exclude alerts by their assignee uuid (separated by commas)."},"nomatch[custom_status_uuid]":{"type":"string","description":"Exclude alerts by their custom status uuid (separated by commas)."},"nomatch[verdict_uuid]":{"type":"string","description":"Exclude alerts by their verdict uuid (separated by commas)."},"case_uuid":{"type":"string","description":"uuid of the case to which the alerts are added"}},"required":["case_uuid"]}}}}}},"/v1/sic/alerts/bulk/assignees":{"patch":{"responses":{"401":{"description":"Authentication required"},"403":{"description":"Permissions required"},"200":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/TaskIdSchema"}}}},"400":{"description":"Invalid parameters"}},"summary":"Update the assignee of a list of alerts asynchronously","description":"The following permissions are required:\n - “Manage alerts” (`0e329f9c-173f-4fa0-bbbc-fcfc4bdf7559`)","operationId":"patch_alert_assignee_bulk_resource","parameters":[],"tags":["Detection","Alerts"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"match[community_uuid]":{"type":"string","description":"Match alerts by their community uuids."},"match[entity_name]":{"type":"string","description":"Match alerts by their entity names (separated by commas)."},"match[entity_uuid]":{"type":"string","description":"Match alerts by their entity uuids (separated by commas)."},"match[status_uuid]":{"type":"string","description":"Match alerts by their status uuids (separated by commas)."},"match[status_name]":{"type":"string","description":"Match alerts by their status name (separated by commas)."},"match[type_category]":{"type":"string","description":"Match alerts by their type categories (separated by commas)."},"match[type_value]":{"type":"string","description":"Match alerts by their type values (separated by commas)."},"match[source]":{"type":"string","description":"Match alerts by their sources (separated by commas)."},"match[target]":{"type":"string","description":"Match alerts by their targets (separated by commas)."},"match[node]":{"type":"string","description":"Match alerts either by their sources or their targets (separated by commas)."},"match[stix_object]":{"type":"string","description":"Match alerts that contains requested STIX objects IDs"},"match[rule_uuid]":{"type":"string","description":"Match alerts by their rule uuids (separated by commas)."},"match[rule_name]":{"type":"string","description":"Match alerts by their rule names (separated by commas)."},"match[detection_type]":{"type":"string","description":"Match alerts by their detection type (separated by commas)."},"match[short_id]":{"type":"string","description":"Match alerts by their short_id (separated by commas)."},"match[uuid]":{"type":"string","description":"Match alerts by their uuid (separated by commas)."},"match[title]":{"type":"string","description":"Match alerts by their title (separated by commas)."},"match[resolved_title]":{"type":"string","description":"Match alerts by their resolved title (separated by commas)."},"match[asset_uuid]":{"type":"string","description":"Match alerts for specific assets (separated by commas)."},"match[urgency_display]":{"type":"string","description":"Match alerts for specific urgency display (separated by commas)."},"match[case_short_id]":{"type":"string","description":"Match alerts by their case short_id (separated by commas)."},"match[assignee]":{"type":"string","description":"Match alerts by their assignee uuid (separated by commas)."},"match[custom_status_uuid]":{"type":"string","description":"Match alerts by their custom status uuid (separated by commas)."},"match[verdict_uuid]":{"type":"string","description":"Match alerts by their verdict uuid (separated by commas)."},"match[custom_field]":{"type":"string","description":"Match alerts by their custom field value, using 'uuid:value' format (e.g. '123e4567-e89b-12d3-a456-426614174000:Phishing'), or by field existence using a UUID (e.g. '123e4567-e89b-12d3-a456-426614174000')."},"date[created_at]":{"type":"string","default":null,"description":"Filter alerts by their creation dates (see rfc3339).","format":"date-range","example":"2025-01-01T00:00:00,2025-12-31T23:59:59","x-nullable":true},"date[updated_at]":{"type":"string","default":null,"description":"Filter alerts by their update dates (see rfc3339).","format":"date-range","example":"2025-01-01T00:00:00,2025-12-31T23:59:59","x-nullable":true},"range[urgency]":{"type":"string","default":null,"description":"Filter alerts by their urgencies.","x-nullable":true},"range[similar]":{"type":"string","default":null,"description":"Filter alerts by their number of similar occurrences.","x-nullable":true},"visible":{"type":"boolean","default":true,"description":"Filter alerts according their visibility"},"is_assigned_to_case":{"type":"boolean","description":"Filter alerts assigned to a case"},"similar_to":{"type":"string","default":null,"description":"Filter alerts similar to the provided alert short ID","x-nullable":true},"nomatch[asset_uuid]":{"type":"string","description":"Exclude alerts for specific assets (separated by commas)."},"nomatch[entity_uuid]":{"type":"string","description":"Exclude alerts for specific entities (separated by commas)."},"nomatch[rule_uuid]":{"type":"string","description":"Exclude alerts for specific rules (separated by commas)."},"nomatch[rule_name]":{"type":"string","description":"Exclude alerts for specific rules (separated by commas)."},"nomatch[detection_type]":{"type":"string","description":"Exclude detection type (separated by commas)."},"nomatch[source]":{"type":"string","description":"Exclude alerts for specific sources (separated by commas)."},"nomatch[target]":{"type":"string","description":"Exclude alerts for specific targets (separated by commas)."},"nomatch[status_uuid]":{"type":"string","description":"Exclude alerts with specific statuses (separated by commas)."},"nomatch[stix_object]":{"type":"string","description":"Exclude alerts for specific threats (separated by commas)."},"nomatch[type_value]":{"type":"string","description":"Exclude alerts for specific type values (separated by commas)."},"nomatch[urgency_display]":{"type":"string","description":"Exclude alerts for specific urgency display (separated by commas)."},"nomatch[assignee]":{"type":"string","description":"Exclude alerts by their assignee uuid (separated by commas)."},"nomatch[custom_status_uuid]":{"type":"string","description":"Exclude alerts by their custom status uuid (separated by commas)."},"nomatch[verdict_uuid]":{"type":"string","description":"Exclude alerts by their verdict uuid (separated by commas)."},"assignee":{"type":"string","format":"uuid","description":"UUID of the user to assign to the alerts"}},"required":["assignee"]}}}}}},"/v1/sic/alerts/bulk/workflow":{"get":{"responses":{"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"200":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/AlertStatusWorkflowSchema"}}}},"400":{"description":"Invalid parameters"}},"summary":"List the actions available to update alert statuses","description":"The following permissions are required:\n - “View alerts” (`9ea2b8a3-593f-4bab-92f5-d0af9b563f6f`)","operationId":"get_alert_workflow_bulk_resource","tags":["Detection","Alerts","Alert Status"]},"patch":{"responses":{"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"204":{"description":"Success"},"400":{"description":"Invalid parameters"},"409":{"description":"Invalid action given current status"}},"summary":"Update the legacy status on a list of alerts","description":"The list of selected alerts, on which the action will be performed,\nis specified with the filter (url parameter)\n`match[uuid]`, that accept a list of identifiers (or short_id) of alerts separated by commas, while the\nidentifier of the action is set in the body of the request as a json dictionary.\n\nThe identifier of the action is brought from the workflow (GET request on this endpoint).\n\nThe following permissions are required:\n - “Update alert status” (`9f3df1b1-4db7-44bd-b615-af5873ad7f8a`)","operationId":"patch_alert_workflow_bulk_resource","parameters":[],"tags":["Detection","Alerts","Alert Status"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"match[uuid]":{"type":"string","description":"Match alerts by their identifier (uuid or short_id; separated by commas)."},"action_uuid":{"type":"string","format":"uuid","description":"UUID of the legacy status"},"comment":{"type":"string","description":"A comment to describe why the alert status has changed","x-nullable":true}},"required":["action_uuid"]}}}}}},"/v1/sic/alerts/bulk/workflow/async":{"patch":{"responses":{"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"200":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/TaskIdSchema"}}}},"400":{"description":"Invalid parameters"}},"summary":"Trigger a status update asynchronously on a list of alerts","description":"The following permissions are required:\n - “Update alert status” (`9f3df1b1-4db7-44bd-b615-af5873ad7f8a`)","operationId":"patch_alert_workflow_async_bulk_resource","parameters":[],"tags":["Detection","Alerts","Alert Status"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"match[community_uuid]":{"type":"string","description":"Match alerts by their community uuids."},"match[entity_name]":{"type":"string","description":"Match alerts by their entity names (separated by commas)."},"match[entity_uuid]":{"type":"string","description":"Match alerts by their entity uuids (separated by commas)."},"match[status_uuid]":{"type":"string","description":"Match alerts by their status uuids (separated by commas)."},"match[status_name]":{"type":"string","description":"Match alerts by their status name (separated by commas)."},"match[type_category]":{"type":"string","description":"Match alerts by their type categories (separated by commas)."},"match[type_value]":{"type":"string","description":"Match alerts by their type values (separated by commas)."},"match[source]":{"type":"string","description":"Match alerts by their sources (separated by commas)."},"match[target]":{"type":"string","description":"Match alerts by their targets (separated by commas)."},"match[node]":{"type":"string","description":"Match alerts either by their sources or their targets (separated by commas)."},"match[stix_object]":{"type":"string","description":"Match alerts that contains requested STIX objects IDs"},"match[rule_uuid]":{"type":"string","description":"Match alerts by their rule uuids (separated by commas)."},"match[rule_name]":{"type":"string","description":"Match alerts by their rule names (separated by commas)."},"match[detection_type]":{"type":"string","description":"Match alerts by their detection type (separated by commas)."},"match[short_id]":{"type":"string","description":"Match alerts by their short_id (separated by commas)."},"match[uuid]":{"type":"string","description":"Match alerts by their uuid (separated by commas)."},"match[title]":{"type":"string","description":"Match alerts by their title (separated by commas)."},"match[resolved_title]":{"type":"string","description":"Match alerts by their resolved title (separated by commas)."},"match[asset_uuid]":{"type":"string","description":"Match alerts for specific assets (separated by commas)."},"match[urgency_display]":{"type":"string","description":"Match alerts for specific urgency display (separated by commas)."},"match[case_short_id]":{"type":"string","description":"Match alerts by their case short_id (separated by commas)."},"match[assignee]":{"type":"string","description":"Match alerts by their assignee uuid (separated by commas)."},"match[custom_status_uuid]":{"type":"string","description":"Match alerts by their custom status uuid (separated by commas)."},"match[verdict_uuid]":{"type":"string","description":"Match alerts by their verdict uuid (separated by commas)."},"match[custom_field]":{"type":"string","description":"Match alerts by their custom field value, using 'uuid:value' format (e.g. '123e4567-e89b-12d3-a456-426614174000:Phishing'), or by field existence using a UUID (e.g. '123e4567-e89b-12d3-a456-426614174000')."},"date[created_at]":{"type":"string","default":null,"description":"Filter alerts by their creation dates (see rfc3339).","format":"date-range","example":"2025-01-01T00:00:00,2025-12-31T23:59:59","x-nullable":true},"date[updated_at]":{"type":"string","default":null,"description":"Filter alerts by their update dates (see rfc3339).","format":"date-range","example":"2025-01-01T00:00:00,2025-12-31T23:59:59","x-nullable":true},"range[urgency]":{"type":"string","default":null,"description":"Filter alerts by their urgencies.","x-nullable":true},"range[similar]":{"type":"string","default":null,"description":"Filter alerts by their number of similar occurrences.","x-nullable":true},"visible":{"type":"boolean","default":true,"description":"Filter alerts according their visibility"},"is_assigned_to_case":{"type":"boolean","description":"Filter alerts assigned to a case"},"similar_to":{"type":"string","default":null,"description":"Filter alerts similar to the provided alert short ID","x-nullable":true},"nomatch[asset_uuid]":{"type":"string","description":"Exclude alerts for specific assets (separated by commas)."},"nomatch[entity_uuid]":{"type":"string","description":"Exclude alerts for specific entities (separated by commas)."},"nomatch[rule_uuid]":{"type":"string","description":"Exclude alerts for specific rules (separated by commas)."},"nomatch[rule_name]":{"type":"string","description":"Exclude alerts for specific rules (separated by commas)."},"nomatch[detection_type]":{"type":"string","description":"Exclude detection type (separated by commas)."},"nomatch[source]":{"type":"string","description":"Exclude alerts for specific sources (separated by commas)."},"nomatch[target]":{"type":"string","description":"Exclude alerts for specific targets (separated by commas)."},"nomatch[status_uuid]":{"type":"string","description":"Exclude alerts with specific statuses (separated by commas)."},"nomatch[stix_object]":{"type":"string","description":"Exclude alerts for specific threats (separated by commas)."},"nomatch[type_value]":{"type":"string","description":"Exclude alerts for specific type values (separated by commas)."},"nomatch[urgency_display]":{"type":"string","description":"Exclude alerts for specific urgency display (separated by commas)."},"nomatch[assignee]":{"type":"string","description":"Exclude alerts by their assignee uuid (separated by commas)."},"nomatch[custom_status_uuid]":{"type":"string","description":"Exclude alerts by their custom status uuid (separated by commas)."},"nomatch[verdict_uuid]":{"type":"string","description":"Exclude alerts by their verdict uuid (separated by commas)."},"action_uuid":{"type":"string","format":"uuid","description":"UUID of the custom status or the legacy status"},"comment":{"type":"string","description":"A comment to describe why the alert status has changed","x-nullable":true},"verdict_uuid":{"type":"string","format":"uuid","description":"New verdict of the alert","x-nullable":true}},"required":["action_uuid"]}}}}}},"/v1/sic/alerts/count":{"get":{"responses":{"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"200":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/AlertsCountSchema"}}}},"400":{"description":"Invalid parameters"}},"summary":"Count the total number of alerts matching the provided filters","description":"Counting alerts is a slow operation and should be used sparingly.\n\nThe following permissions are required:\n - “View alerts” (`9ea2b8a3-593f-4bab-92f5-d0af9b563f6f`)","operationId":"get_alerts_count_resource","parameters":[{"in":"query","name":"match[community_uuid]","type":"string","description":"Match alerts by their community uuids.","required":false},{"in":"query","name":"match[entity_name]","type":"string","description":"Match alerts by their entity names (separated by commas).","required":false},{"in":"query","name":"match[entity_uuid]","type":"string","description":"Match alerts by their entity uuids (separated by commas).","required":false},{"in":"query","name":"match[status_uuid]","type":"string","description":"Match alerts by their status uuids (separated by commas).","required":false},{"in":"query","name":"match[status_name]","type":"string","description":"Match alerts by their status name (separated by commas).","required":false},{"in":"query","name":"match[type_category]","type":"string","description":"Match alerts by their type categories (separated by commas).","required":false},{"in":"query","name":"match[type_value]","type":"string","description":"Match alerts by their type values (separated by commas).","required":false},{"in":"query","name":"match[source]","type":"string","description":"Match alerts by their sources (separated by commas).","required":false},{"in":"query","name":"match[target]","type":"string","description":"Match alerts by their targets (separated by commas).","required":false},{"in":"query","name":"match[node]","type":"string","description":"Match alerts either by their sources or their targets (separated by commas).","required":false},{"in":"query","name":"match[stix_object]","type":"string","description":"Match alerts that contains requested STIX objects IDs","required":false},{"in":"query","name":"match[rule_uuid]","type":"string","description":"Match alerts by their rule uuids (separated by commas).","required":false},{"in":"query","name":"match[rule_name]","type":"string","description":"Match alerts by their rule names (separated by commas).","required":false},{"in":"query","name":"match[detection_type]","type":"string","description":"Match alerts by their detection type (separated by commas).","required":false},{"in":"query","name":"match[short_id]","type":"string","description":"Match alerts by their short_id (separated by commas).","required":false},{"in":"query","name":"match[uuid]","type":"string","description":"Match alerts by their uuid (separated by commas).","required":false},{"in":"query","name":"match[title]","type":"string","description":"Match alerts by their title (separated by commas).","required":false},{"in":"query","name":"match[resolved_title]","type":"string","description":"Match alerts by their resolved title (separated by commas).","required":false},{"in":"query","name":"match[asset_uuid]","type":"string","description":"Match alerts for specific assets (separated by commas).","required":false},{"in":"query","name":"match[urgency_display]","type":"string","description":"Match alerts for specific urgency display (separated by commas).","required":false},{"in":"query","name":"match[case_short_id]","type":"string","description":"Match alerts by their case short_id (separated by commas).","required":false},{"in":"query","name":"match[assignee]","type":"string","description":"Match alerts by their assignee uuid (separated by commas).","required":false},{"in":"query","name":"match[custom_status_uuid]","type":"string","description":"Match alerts by their custom status uuid (separated by commas).","required":false},{"in":"query","name":"match[verdict_uuid]","type":"string","description":"Match alerts by their verdict uuid (separated by commas).","required":false},{"in":"query","name":"match[custom_field]","type":"string","description":"Match alerts by their custom field value, using 'uuid:value' format (e.g. '123e4567-e89b-12d3-a456-426614174000:Phishing'), or by field existence using a UUID (e.g. '123e4567-e89b-12d3-a456-426614174000').","required":false},{"in":"query","name":"date[created_at]","type":"string","default":null,"description":"Filter alerts by their creation dates (see rfc3339).","format":"date-range","example":"2025-01-01T00:00:00,2025-12-31T23:59:59","x-nullable":true,"required":false},{"in":"query","name":"date[updated_at]","type":"string","default":null,"description":"Filter alerts by their update dates (see rfc3339).","format":"date-range","example":"2025-01-01T00:00:00,2025-12-31T23:59:59","x-nullable":true,"required":false},{"in":"query","name":"range[urgency]","type":"string","default":null,"description":"Filter alerts by their urgencies.","x-nullable":true,"required":false},{"in":"query","name":"range[similar]","type":"string","default":null,"description":"Filter alerts by their number of similar occurrences.","x-nullable":true,"required":false},{"in":"query","name":"visible","type":"boolean","default":true,"description":"Filter alerts according their visibility","required":false},{"in":"query","name":"is_assigned_to_case","type":"boolean","description":"Filter alerts assigned to a case","required":false},{"in":"query","name":"similar_to","type":"string","default":null,"description":"Filter alerts similar to the provided alert short ID","x-nullable":true,"required":false},{"in":"query","name":"nomatch[asset_uuid]","type":"string","description":"Exclude alerts for specific assets (separated by commas).","required":false},{"in":"query","name":"nomatch[entity_uuid]","type":"string","description":"Exclude alerts for specific entities (separated by commas).","required":false},{"in":"query","name":"nomatch[rule_uuid]","type":"string","description":"Exclude alerts for specific rules (separated by commas).","required":false},{"in":"query","name":"nomatch[rule_name]","type":"string","description":"Exclude alerts for specific rules (separated by commas).","required":false},{"in":"query","name":"nomatch[detection_type]","type":"string","description":"Exclude detection type (separated by commas).","required":false},{"in":"query","name":"nomatch[source]","type":"string","description":"Exclude alerts for specific sources (separated by commas).","required":false},{"in":"query","name":"nomatch[target]","type":"string","description":"Exclude alerts for specific targets (separated by commas).","required":false},{"in":"query","name":"nomatch[status_uuid]","type":"string","description":"Exclude alerts with specific statuses (separated by commas).","required":false},{"in":"query","name":"nomatch[stix_object]","type":"string","description":"Exclude alerts for specific threats (separated by commas).","required":false},{"in":"query","name":"nomatch[type_value]","type":"string","description":"Exclude alerts for specific type values (separated by commas).","required":false},{"in":"query","name":"nomatch[urgency_display]","type":"string","description":"Exclude alerts for specific urgency display (separated by commas).","required":false},{"in":"query","name":"nomatch[assignee]","type":"string","description":"Exclude alerts by their assignee uuid (separated by commas).","required":false},{"in":"query","name":"nomatch[custom_status_uuid]","type":"string","description":"Exclude alerts by their custom status uuid (separated by commas).","required":false},{"in":"query","name":"nomatch[verdict_uuid]","type":"string","description":"Exclude alerts by their verdict uuid (separated by commas).","required":false},{"in":"query","name":"limit","type":"integer","minimum":1,"description":"Maximum number of alerts to consider for the count","required":false}],"tags":["Detection","Alerts"]}},"/v1/sic/alerts/countermeasures/{countermeasure_uuid}":{"parameters":[{"name":"countermeasure_uuid","in":"path","required":true,"type":"string"}],"patch":{"responses":{"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"400":{"description":"Invalid parameters"},"404":{"description":"Resource not found"},"200":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/AlertCountermeasureSchema"}}}}},"summary":"Update a countermeasure","description":"The following permissions are required:\n - “Manage alerts” (`0e329f9c-173f-4fa0-bbbc-fcfc4bdf7559`)","operationId":"patch_countermeasure_resource","parameters":[{"name":"countermeasure_uuid","in":"path","required":true,"type":"string"}],"tags":["Detection","Countermeasures"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","description":"The name of the countermeasure"},"description":{"type":"string","description":"The description of the countermeasure"},"duration":{"type":"string","description":"The duration required to apply the countermeasure"},"relevance":{"type":"integer","description":"The relevance of the countermeasure"},"start_on":{"type":"string","description":"The name of the actionstep that starts the application of the countermeasure"},"assignee":{"type":"string","description":"The identifier of the profile to assign to the countermeasure","x-nullable":true}}}}}}}},"/v1/sic/alerts/countermeasures/{countermeasure_uuid}/activate":{"parameters":[{"name":"countermeasure_uuid","in":"path","required":true,"type":"string"}],"patch":{"responses":{"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"404":{"description":"Resource not found"},"409":{"description":"Invalid action given current status"},"200":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/AlertCountermeasureSchema"}}}}},"summary":"Activate a countermeasure","description":"An optional comment can be provided to\nbe attached to the countermeasure.\n\nThe following permissions are required:\n - “Manage alerts” (`0e329f9c-173f-4fa0-bbbc-fcfc4bdf7559`)","operationId":"patch_activate_countermeasure_resource","parameters":[{"name":"countermeasure_uuid","in":"path","required":true,"type":"string"}],"tags":["Investigation","Countermeasures","Comments"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"comment":{"type":"object","properties":{"content":{"type":"string","description":"Content of the comment"},"author":{"type":"string","maxLength":32,"description":"Author of the comment"}}}},"required":["comment"]}}}}}},"/v1/sic/alerts/countermeasures/{countermeasure_uuid}/comments":{"parameters":[{"name":"countermeasure_uuid","in":"path","required":true,"type":"string"}],"post":{"responses":{"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"201":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/CommentSchema"}}}},"400":{"description":"Invalid parameters"},"404":{"description":"Unknown counter measure"}},"summary":"Create a comment on a countermeasure","description":"The following permissions are required:\n - “Comment on alerts” (`341436f9-1c33-4cf7-bec3-a6955133ea04`)","operationId":"post_countermeasure_comments_resource","parameters":[{"name":"countermeasure_uuid","in":"path","required":true,"type":"string"}],"tags":["Investigation","Comments","Countermeasures"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"content":{"type":"string","description":"Content of the comment"},"author":{"type":"string","maxLength":32,"description":"Author of the comment"}},"required":["content"]}}}}},"get":{"responses":{"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"200":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/CommentsSchema"}}}},"400":{"description":"Invalid parameters"},"404":{"description":"Unknown counter measure"}},"summary":"List the comments of a countermeasure","description":"The following permissions are required:\n - “View alerts” (`9ea2b8a3-593f-4bab-92f5-d0af9b563f6f`)","operationId":"get_countermeasure_comments_resource","parameters":[{"in":"query","name":"limit","type":"integer","default":20,"minimum":1,"maximum":100,"description":"limit a number of items (allowed range is 1-100), default is 20.","required":false},{"in":"query","name":"offset","type":"integer","default":0,"minimum":0,"description":"a number of items to skip, default is 0.","required":false},{"name":"countermeasure_uuid","in":"path","required":true,"type":"string"}],"tags":["Investigation","Comments","Countermeasures"]}},"/v1/sic/alerts/countermeasures/{countermeasure_uuid}/deny":{"parameters":[{"name":"countermeasure_uuid","in":"path","required":true,"type":"string"}],"patch":{"responses":{"404":{"description":"Resource not found"},"409":{"description":"Invalid action given current status"},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"200":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/AlertCountermeasureSchema"}}}}},"summary":"Deny a countermeasure","description":"An optional comment can be provided to\nbe attached to the countermeasure.\n\nThe following permissions are required:\n - “Manage alerts” (`0e329f9c-173f-4fa0-bbbc-fcfc4bdf7559`)","operationId":"patch_deny_countermeasure_resource","parameters":[{"name":"countermeasure_uuid","in":"path","required":true,"type":"string"}],"tags":["Detection","Countermeasures"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"comment":{"type":"object","properties":{"content":{"type":"string","description":"Content of the comment"},"author":{"type":"string","maxLength":32,"description":"Author of the comment"}}}},"required":["comment"]}}}}}},"/v1/sic/alerts/countermeasures/{countermeasure_uuid}/{action_step_name_or_uuid}/":{"parameters":[{"name":"countermeasure_uuid","in":"path","required":true,"type":"string"},{"name":"action_step_name_or_uuid","in":"path","required":true,"type":"string"}],"delete":{"responses":{"404":{"description":"Resource not found"},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"204":{"description":"Success"}},"summary":"Remove an action step from the countermeasure","description":"The following permissions are required:\n - “Manage alerts” (`0e329f9c-173f-4fa0-bbbc-fcfc4bdf7559`)","operationId":"delete_countermeasure_action_step_resource","tags":["Detection","Countermeasures"],"parameters":[{"name":"countermeasure_uuid","in":"path","required":true,"type":"string"},{"name":"action_step_name_or_uuid","in":"path","required":true,"type":"string"}]},"get":{"responses":{"404":{"description":"Resource not found"},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"200":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/CountermeasureActionStepSchema"}}}}},"summary":"Get an action step in the countermeasure","description":"The following permissions are required:\n - “View alerts” (`9ea2b8a3-593f-4bab-92f5-d0af9b563f6f`)","operationId":"get_countermeasure_action_step_resource","tags":["Detection","Countermeasures"],"parameters":[{"name":"countermeasure_uuid","in":"path","required":true,"type":"string"},{"name":"action_step_name_or_uuid","in":"path","required":true,"type":"string"}]},"put":{"responses":{"404":{"description":"Resource not found"},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"200":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/CountermeasureActionStepSchema"}}}}},"summary":"Create or update an action step in the countermeasure","description":"The following permissions are required:\n - “Manage alerts” (`0e329f9c-173f-4fa0-bbbc-fcfc4bdf7559`)","operationId":"put_countermeasure_action_step_resource","parameters":[{"name":"countermeasure_uuid","in":"path","required":true,"type":"string"},{"name":"action_step_name_or_uuid","in":"path","required":true,"type":"string"}],"tags":["Detection","Countermeasures"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"description":{"type":"string","description":"The description of the action step"},"type":{"type":"string","description":"The type of the actionstep"},"object":{"type":"object","description":"The content of the action step","additionalProperties":{}},"action_order":{"type":"integer","description":"The position of the action step between its siblings"},"assignee":{"type":"string","description":"The identifier of the profile to assign to the actionstep"}},"required":["description","type","object","action_order"]}}}}},"patch":{"responses":{"404":{"description":"Resource not found"},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"200":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/CountermeasureActionStepSchema"}}}}},"summary":"Create or update an action step in the countermeasure","description":"The following permissions are required:\n - “Manage alerts” (`0e329f9c-173f-4fa0-bbbc-fcfc4bdf7559`)","operationId":"patch_countermeasure_action_step_resource","parameters":[{"name":"countermeasure_uuid","in":"path","required":true,"type":"string"},{"name":"action_step_name_or_uuid","in":"path","required":true,"type":"string"}],"tags":["Detection","Countermeasures"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"description":{"type":"string","description":"The description of the action step"},"type":{"type":"string","description":"The type of the actionstep"},"object":{"type":"object","description":"The content of the action step","additionalProperties":{}},"action_order":{"type":"integer","description":"The position of the action step between its siblings"},"assignee":{"type":"string","description":"The identifier of the profile to assign to the actionstep","x-nullable":true},"name":{"type":"string","description":"New name of the action step"}}}}}}}},"/v1/sic/alerts/countermeasures/{countermeasure_uuid}/{action_step_name_or_uuid}/activate":{"parameters":[{"name":"countermeasure_uuid","in":"path","required":true,"type":"string"},{"name":"action_step_name_or_uuid","in":"path","required":true,"type":"string"}],"patch":{"responses":{"404":{"description":"Resource not found"},"409":{"description":"Invalid action given current status"},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"200":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/CountermeasureActionStepSchema"}}}}},"summary":"Activate an action step of a countermeasure","description":"An optional comment can be provided to\nbe attached to the action step.\n\nThe following permissions are required:\n - “Manage alerts” (`0e329f9c-173f-4fa0-bbbc-fcfc4bdf7559`)","operationId":"patch_activate_action_step_resource","parameters":[{"name":"countermeasure_uuid","in":"path","required":true,"type":"string"},{"name":"action_step_name_or_uuid","in":"path","required":true,"type":"string"}],"tags":["Detection","Countermeasures"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"comment":{"type":"object","properties":{"content":{"type":"string","description":"Content of the comment"},"author":{"type":"string","maxLength":32,"description":"Author of the comment"}}}},"required":["comment"]}}}}}},"/v1/sic/alerts/countermeasures/{countermeasure_uuid}/{action_step_name_or_uuid}/comments":{"parameters":[{"name":"countermeasure_uuid","in":"path","required":true,"type":"string"},{"name":"action_step_name_or_uuid","in":"path","required":true,"type":"string"}],"post":{"responses":{"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"201":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/CommentSchema"}}}},"400":{"description":"Invalid parameters"},"404":{"description":"Unknown counter measure"}},"summary":"Post a comment on an action step","description":"The following permissions are required:\n - “Comment on alerts” (`341436f9-1c33-4cf7-bec3-a6955133ea04`)","operationId":"post_actionstep_comments_resource","parameters":[{"name":"countermeasure_uuid","in":"path","required":true,"type":"string"},{"name":"action_step_name_or_uuid","in":"path","required":true,"type":"string"}],"tags":["Detection","Countermeasures","Comments"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"content":{"type":"string","description":"Content of the comment"},"author":{"type":"string","maxLength":32,"description":"Author of the comment"}},"required":["content"]}}}}},"get":{"responses":{"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"200":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/CommentsSchema"}}}},"400":{"description":"Invalid parameters"},"404":{"description":"Unknown counter measure or action step"}},"summary":"List the comments of an action step","description":"The following permissions are required:\n - “View alerts” (`9ea2b8a3-593f-4bab-92f5-d0af9b563f6f`)","operationId":"get_actionstep_comments_resource","parameters":[{"in":"query","name":"limit","type":"integer","default":20,"minimum":1,"maximum":100,"description":"limit a number of items (allowed range is 1-100), default is 20.","required":false},{"in":"query","name":"offset","type":"integer","default":0,"minimum":0,"description":"a number of items to skip, default is 0.","required":false},{"name":"countermeasure_uuid","in":"path","required":true,"type":"string"},{"name":"action_step_name_or_uuid","in":"path","required":true,"type":"string"}],"tags":["Detection","Countermeasures","Comments"]}},"/v1/sic/alerts/countermeasures/{countermeasure_uuid}/{action_step_name_or_uuid}/deny":{"parameters":[{"name":"countermeasure_uuid","in":"path","required":true,"type":"string"},{"name":"action_step_name_or_uuid","in":"path","required":true,"type":"string"}],"patch":{"responses":{"404":{"description":"Resource not found"},"409":{"description":"Invalid action given current status"},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"200":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/CountermeasureActionStepSchema"}}}}},"summary":"Deny an action step of a countermeasure","description":"An optional comment can be provided to\nbe attached to the action step.\n\nThe following permissions are required:\n - “Manage alerts” (`0e329f9c-173f-4fa0-bbbc-fcfc4bdf7559`)","operationId":"patch_deny_action_step_resource","parameters":[{"name":"countermeasure_uuid","in":"path","required":true,"type":"string"},{"name":"action_step_name_or_uuid","in":"path","required":true,"type":"string"}],"tags":["Detection","Countermeasures"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"comment":{"type":"object","properties":{"content":{"type":"string","description":"Content of the comment"},"author":{"type":"string","maxLength":32,"description":"Author of the comment"}}}},"required":["comment"]}}}}}},"/v1/sic/alerts/entities":{"get":{"responses":{"200":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/alert_entities_schema"}}}},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"}},"summary":"List alert entities","description":"This paginated endpoint lists all the entities found in the produced alerts (last 90 days).\nAn entity is denoted by its name and its uuid.\n\nThe following permissions are required:\n - “View alerts” (`9ea2b8a3-593f-4bab-92f5-d0af9b563f6f`)","operationId":"get_alert_entities_resource","parameters":[{"name":"match[community_uuid]","in":"query","required":false,"type":"string"},{"name":"limit","in":"query","required":false,"type":"integer"},{"name":"offset","in":"query","required":false,"type":"integer"},{"name":"community_uuid","in":"query","required":false,"type":"string"},{"name":"match[name]","in":"query","required":false,"type":"string"},{"name":"match[uuid]","in":"query","required":false,"type":"string"},{"name":"sort","in":"query","required":false,"enum":["name","uuid"],"type":"string"},{"name":"direction","in":"query","required":false,"type":"string"}],"tags":["Detection","Alerts"]}},"/v1/sic/alerts/rules":{"get":{"responses":{"200":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/alert_rules_schema"}}}},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"}},"summary":"List alert rules","description":"This paginated endpoint lists all the different rule found in the produced alerts.\n\nThe following permissions are required:\n - “View alerts” (`9ea2b8a3-593f-4bab-92f5-d0af9b563f6f`)","operationId":"get_alert_rules_resource","parameters":[{"name":"match[community_uuid]","in":"query","required":false,"type":"string"},{"name":"limit","in":"query","required":false,"type":"integer"},{"name":"offset","in":"query","required":false,"type":"integer"},{"name":"community_uuid","in":"query","required":false,"type":"string"},{"name":"match[name]","in":"query","required":false,"type":"string"},{"name":"match[uuid]","in":"query","required":false,"type":"string"},{"name":"match[entity_name]","in":"query","required":false,"type":"string"},{"name":"match[entity_uuid]","in":"query","required":false,"type":"string"},{"name":"sort","in":"query","required":false,"type":"string"},{"name":"direction","in":"query","required":false,"type":"string"}],"tags":["Detection","Alerts","Rules"]}},"/v1/sic/alerts/sources":{"get":{"responses":{"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"200":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/alert_sources_schema"}}}},"400":{"description":"Invalid parameters"}},"summary":"List alert sources (last 90 days)","description":"This paginated endpoint lists all the different sources found in the produced alerts.\n\nThe following permissions are required:\n - “View alerts” (`9ea2b8a3-593f-4bab-92f5-d0af9b563f6f`)","operationId":"get_alert_sources_resource","parameters":[{"name":"match[community_uuid]","in":"query","required":false,"type":"string"},{"name":"limit","in":"query","required":false,"type":"integer"},{"name":"offset","in":"query","required":false,"type":"integer"},{"name":"community_uuid","in":"query","required":false,"type":"string"},{"name":"match[value]","in":"query","required":false,"type":"string"}],"tags":["Detection","Alerts","Alert Sources and Targets"]}},"/v1/sic/alerts/statistics":{"get":{"responses":{"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"200":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/StatisticsSchema"}}}},"400":{"description":"Invalid parameters"}},"summary":"Get Alert Statistics","description":"Get Alert Total Count, Count by Status, and Today's Count\n\nThe following permissions are required:\n - “View alert statistics” (`b1642ef8-4bc0-40b4-9ddf-7bd368659941`)\n - “View alerts” (`9ea2b8a3-593f-4bab-92f5-d0af9b563f6f`)","operationId":"get_alerts_statistics_resource","parameters":[{"in":"query","name":"match[community_uuid]","type":"string","description":"Match alerts by their community uuids.","required":false},{"in":"query","name":"match[entity_name]","type":"string","description":"Match alerts by their entity names (separated by commas).","required":false},{"in":"query","name":"match[entity_uuid]","type":"string","description":"Match alerts by their entity uuids (separated by commas).","required":false},{"in":"query","name":"match[status_uuid]","type":"string","description":"Match alerts by their status uuids (separated by commas).","required":false},{"in":"query","name":"match[status_name]","type":"string","description":"Match alerts by their status name (separated by commas).","required":false},{"in":"query","name":"match[type_category]","type":"string","description":"Match alerts by their type categories (separated by commas).","required":false},{"in":"query","name":"match[type_value]","type":"string","description":"Match alerts by their type values (separated by commas).","required":false},{"in":"query","name":"match[source]","type":"string","description":"Match alerts by their sources (separated by commas).","required":false},{"in":"query","name":"match[target]","type":"string","description":"Match alerts by their targets (separated by commas).","required":false},{"in":"query","name":"match[node]","type":"string","description":"Match alerts either by their sources or their targets (separated by commas).","required":false},{"in":"query","name":"match[stix_object]","type":"string","description":"Match alerts that contains requested STIX objects IDs","required":false},{"in":"query","name":"match[rule_uuid]","type":"string","description":"Match alerts by their rule uuids (separated by commas).","required":false},{"in":"query","name":"match[rule_name]","type":"string","description":"Match alerts by their rule names (separated by commas).","required":false},{"in":"query","name":"match[detection_type]","type":"string","description":"Match alerts by their detection type (separated by commas).","required":false},{"in":"query","name":"match[short_id]","type":"string","description":"Match alerts by their short_id (separated by commas).","required":false},{"in":"query","name":"match[uuid]","type":"string","description":"Match alerts by their uuid (separated by commas).","required":false},{"in":"query","name":"match[title]","type":"string","description":"Match alerts by their title (separated by commas).","required":false},{"in":"query","name":"match[resolved_title]","type":"string","description":"Match alerts by their resolved title (separated by commas).","required":false},{"in":"query","name":"match[asset_uuid]","type":"string","description":"Match alerts for specific assets (separated by commas).","required":false},{"in":"query","name":"match[urgency_display]","type":"string","description":"Match alerts for specific urgency display (separated by commas).","required":false},{"in":"query","name":"match[case_short_id]","type":"string","description":"Match alerts by their case short_id (separated by commas).","required":false},{"in":"query","name":"match[assignee]","type":"string","description":"Match alerts by their assignee uuid (separated by commas).","required":false},{"in":"query","name":"match[custom_status_uuid]","type":"string","description":"Match alerts by their custom status uuid (separated by commas).","required":false},{"in":"query","name":"match[verdict_uuid]","type":"string","description":"Match alerts by their verdict uuid (separated by commas).","required":false},{"in":"query","name":"match[custom_field]","type":"string","description":"Match alerts by their custom field value, using 'uuid:value' format (e.g. '123e4567-e89b-12d3-a456-426614174000:Phishing'), or by field existence using a UUID (e.g. '123e4567-e89b-12d3-a456-426614174000').","required":false},{"in":"query","name":"date[created_at]","type":"string","default":null,"description":"Filter alerts by their creation dates (see rfc3339).","format":"date-range","example":"2025-01-01T00:00:00,2025-12-31T23:59:59","x-nullable":true,"required":false},{"in":"query","name":"date[updated_at]","type":"string","default":null,"description":"Filter alerts by their update dates (see rfc3339).","format":"date-range","example":"2025-01-01T00:00:00,2025-12-31T23:59:59","x-nullable":true,"required":false},{"in":"query","name":"range[urgency]","type":"string","default":null,"description":"Filter alerts by their urgencies.","x-nullable":true,"required":false},{"in":"query","name":"range[similar]","type":"string","default":null,"description":"Filter alerts by their number of similar occurrences.","x-nullable":true,"required":false},{"in":"query","name":"visible","type":"boolean","default":true,"description":"Filter alerts according their visibility","required":false},{"in":"query","name":"is_assigned_to_case","type":"boolean","description":"Filter alerts assigned to a case","required":false},{"in":"query","name":"similar_to","type":"string","default":null,"description":"Filter alerts similar to the provided alert short ID","x-nullable":true,"required":false},{"in":"query","name":"nomatch[asset_uuid]","type":"string","description":"Exclude alerts for specific assets (separated by commas).","required":false},{"in":"query","name":"nomatch[entity_uuid]","type":"string","description":"Exclude alerts for specific entities (separated by commas).","required":false},{"in":"query","name":"nomatch[rule_uuid]","type":"string","description":"Exclude alerts for specific rules (separated by commas).","required":false},{"in":"query","name":"nomatch[rule_name]","type":"string","description":"Exclude alerts for specific rules (separated by commas).","required":false},{"in":"query","name":"nomatch[detection_type]","type":"string","description":"Exclude detection type (separated by commas).","required":false},{"in":"query","name":"nomatch[source]","type":"string","description":"Exclude alerts for specific sources (separated by commas).","required":false},{"in":"query","name":"nomatch[target]","type":"string","description":"Exclude alerts for specific targets (separated by commas).","required":false},{"in":"query","name":"nomatch[status_uuid]","type":"string","description":"Exclude alerts with specific statuses (separated by commas).","required":false},{"in":"query","name":"nomatch[stix_object]","type":"string","description":"Exclude alerts for specific threats (separated by commas).","required":false},{"in":"query","name":"nomatch[type_value]","type":"string","description":"Exclude alerts for specific type values (separated by commas).","required":false},{"in":"query","name":"nomatch[urgency_display]","type":"string","description":"Exclude alerts for specific urgency display (separated by commas).","required":false},{"in":"query","name":"nomatch[assignee]","type":"string","description":"Exclude alerts by their assignee uuid (separated by commas).","required":false},{"in":"query","name":"nomatch[custom_status_uuid]","type":"string","description":"Exclude alerts by their custom status uuid (separated by commas).","required":false},{"in":"query","name":"nomatch[verdict_uuid]","type":"string","description":"Exclude alerts by their verdict uuid (separated by commas).","required":false},{"in":"query","name":"with_custom_status","type":"boolean","description":"If set, return statistics about custom statuses.","required":false}],"tags":["Reporting","Statistics","Alerts"]}},"/v1/sic/alerts/stats/rules":{"get":{"responses":{"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"200":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/stats_rules_schema"}}}},"400":{"description":"Invalid Parameters"}},"summary":"Get statistics indexed by rules (deprecated)","description":"This paginates endpoint list all the produced statistics indexed by rules. A set of filters can be\nspecified to focus on certain statistics.\n\nThe following permissions are required:\n - “View alert statistics” (`b1642ef8-4bc0-40b4-9ddf-7bd368659941`)","operationId":"get_deprecated_alert_stat_rules_resource","parameters":[{"name":"match[community_uuid]","in":"query","required":false,"type":"string"},{"name":"date[created_at]","in":"query","required":true,"type":"string"},{"name":"limit","in":"query","required":false,"type":"integer"},{"name":"offset","in":"query","required":false,"type":"integer"},{"name":"match[rule_name]","in":"query","required":false,"type":"string"},{"name":"match[rule_uuid]","in":"query","required":false,"type":"string"}],"tags":["Stats"]}},"/v1/sic/alerts/statuses":{"get":{"responses":{"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"200":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/AlertStatusesSchema"}}}},"400":{"description":"Invalid parameters"}},"summary":"List alert statuses","description":"This paginated endpoint iterates on all the available statuses of an alert.\nA status has a unique `uuid`, a `name` and a `description`.\n\nBelow is an example of an alert status:\n\n    {\n      'uuid': '2efc4930-1442-4abb-acf2-58ba219a4fd0',\n      'name': 'Pending',\n      'description': 'The alert is waiting for an action'\n    }\n\nThe following permissions are required:\n - “View alerts” (`9ea2b8a3-593f-4bab-92f5-d0af9b563f6f`)","operationId":"get_alert_statuses_resource","parameters":[{"in":"query","name":"limit","type":"integer","default":20,"minimum":1,"maximum":100,"description":"limit a number of items (allowed range is 1-100), default is 20.","required":false},{"in":"query","name":"offset","type":"integer","default":0,"minimum":0,"description":"a number of items to skip, default is 0.","required":false}],"tags":["Detection","Alerts","Alert Status"]}},"/v1/sic/alerts/targets":{"get":{"responses":{"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"200":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/alert_targets_schema"}}}},"400":{"description":"Invalid parameters"}},"summary":"List alert targets (last 90 days)","description":"This paginated endpoint lists all the different targets found in the produced alerts.\n\nThe following permissions are required:\n - “View alerts” (`9ea2b8a3-593f-4bab-92f5-d0af9b563f6f`)","operationId":"get_alert_targets_resource","parameters":[{"name":"match[community_uuid]","in":"query","required":false,"type":"string"},{"name":"limit","in":"query","required":false,"type":"integer"},{"name":"offset","in":"query","required":false,"type":"integer"},{"name":"community_uuid","in":"query","required":false,"type":"string"},{"name":"match[value]","in":"query","required":false,"type":"string"}],"tags":["Detection","Alerts","Alert Sources and Targets"]}},"/v1/sic/alerts/test-sigma-pattern":{"post":{"responses":{"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"200":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/AlertsSigmaPatternTestSchema"}}}},"400":{"description":"Invalid parameters"},"404":{"description":"Unknown alert"}},"summary":"Test a Sigma pattern against alerts","description":"This endpoint allows you to test a Sigma pattern against a set of alerts.\nIt returns the alerts short id and wether they match the Sigma pattern.\n\nThe following permissions are required:\n - “View events” (`1cbb91c7-e380-4d9a-98d1-6c850fda8e98`)","operationId":"post_test_sigma_pattern_resource","parameters":[],"tags":["Detection","Alerts"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"community_uuids":{"type":"array","description":"UUIDs of the communities.","items":{"type":"string"}},"alert_short_ids":{"type":"array","description":"Short IDs of the alerts.","items":{"type":"string"}},"sigma_pattern":{"type":"string","description":"Sigma pattern to test against the alerts' events."},"latest":{"type":"string","format":"date-time","description":"Upper bound of the events' timestamp."},"earliest":{"type":"string","format":"date-time","description":"Lower bound of the events' timestamp."}},"required":["alert_short_ids","sigma_pattern","latest","earliest"]}}}}}},"/v1/sic/alerts/threats/global-top/{threat_type}":{"parameters":[{"name":"threat_type","in":"path","required":true,"type":"string"}],"get":{"responses":{"200":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/statistics_schema"}}}},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"400":{"description":"Invalid parameters"}},"summary":"Return the top alerts for the given type","description":"The top is global and not specific to a community\n\nThe following permissions are required:\n - “View alerts” (`9ea2b8a3-593f-4bab-92f5-d0af9b563f6f`)\n - “View global platform telemetry” (`c846153e-0ac4-4c74-a635-3ac63e993c6b`)","operationId":"get_top_threat_resource","parameters":[{"name":"limit","in":"query","required":false,"type":"integer"},{"name":"date[created_at]","in":"query","required":true,"type":"string"},{"name":"threat_type","in":"path","required":true,"type":"string"}],"tags":["Detection","Alerts","Threats"]}},"/v1/sic/alerts/threats/impact":{"post":{"responses":{"200":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/statistics_schema"}}}},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"400":{"description":"Invalid parameters"}},"description":"The following permissions are required:\n - “View alerts” (`9ea2b8a3-593f-4bab-92f5-d0af9b563f6f`)\n - “View global platform telemetry” (`c846153e-0ac4-4c74-a635-3ac63e993c6b`)","operationId":"post_threat_impact_resource","parameters":[],"tags":["Detection","Alerts","Threats"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"match[community_uuid]":{"type":"string"},"threat_ids":{"type":"array"},"date[created_at]":{"type":"string"}},"required":["threat_ids","date[created_at]"]}}}}}},"/v1/sic/alerts/titles":{"get":{"responses":{"200":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/alert_titles_schema"}}}},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"}},"summary":"List alert titles","description":"Returns a paginated list of distinct alert titles.\nA alert title is Alert.title if present; otherwise Alert.rule_name.\nSupports filtering and sorting on title.\n\nThe following permissions are required:\n - “View alerts” (`9ea2b8a3-593f-4bab-92f5-d0af9b563f6f`)","operationId":"get_alert_titles_resource","parameters":[{"name":"match[community_uuid]","in":"query","required":false,"type":"string"},{"name":"limit","in":"query","required":false,"type":"integer"},{"name":"offset","in":"query","required":false,"type":"integer"},{"name":"match[title]","in":"query","required":false,"type":"string"},{"name":"sort","in":"query","required":false,"type":"string"},{"name":"direction","in":"query","required":false,"type":"string"}],"tags":["Detection","Alerts","Titles"]}},"/v1/sic/alerts/types":{"get":{"responses":{"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"200":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/AlertTypesSchema"}}}},"400":{"description":"Invalid parameters"}},"summary":"List observed alert types (last 90 days)","description":"This paginated endpoint iterates on observed alert types and their categories.\nAn alert type has a value and a category. It should be noted, that different alert types\ncan share the same category while it exists only one alert type with the same value and category.\n\nBelow is an example of an alert type:\n\n    { 'category': 'abusive-usage', 'value': 'bandwidth-upload' }\n\nThe following permissions are required:\n - “View alerts” (`9ea2b8a3-593f-4bab-92f5-d0af9b563f6f`)","operationId":"get_alert_types_resource","parameters":[{"in":"query","name":"limit","type":"integer","default":100,"minimum":1,"maximum":100,"description":"limit the number of items (allowed range is 1-100), default is 100.","required":false},{"in":"query","name":"offset","type":"integer","default":0,"minimum":0,"description":"a number of items to skip, default is 0.","required":false},{"in":"query","name":"match[category]","type":"string","description":"Category of alert types to match (separated by commas).","required":false},{"in":"query","name":"match[community_uuid]","type":"string","description":"Category of community to match (separated by commas).","required":false},{"in":"query","name":"match[value]","type":"string","description":"Value of alert types to match (separated by commas).","required":false}],"tags":["Detection","Alerts","Alert Type"]}},"/v1/sic/alerts/{alert_uuid}/comments/{comment_uuid}":{"parameters":[{"name":"alert_uuid","in":"path","required":true,"type":"string"},{"name":"comment_uuid","in":"path","required":true,"type":"string"}],"delete":{"responses":{"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"400":{"description":"Invalid parameters"},"404":{"description":"Unknown alert"}},"summary":"Delete a comment on an alert","description":"The following permissions are required:\n - “Comment on alerts” (`341436f9-1c33-4cf7-bec3-a6955133ea04`)","operationId":"delete_alert_comment_resource","tags":["Detection","Alerts","Comments"],"parameters":[{"name":"alert_uuid","in":"path","required":true,"type":"string"},{"name":"comment_uuid","in":"path","required":true,"type":"string"}]},"get":{"responses":{"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"200":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/AlertCommentSchema"}}}},"400":{"description":"Invalid parameters"},"404":{"description":"Unknown alert"}},"summary":"Get a comment on an alert","description":"The following permissions are required:\n - “View alerts” (`9ea2b8a3-593f-4bab-92f5-d0af9b563f6f`)","operationId":"get_alert_comment_resource","tags":["Detection","Alerts","Comments"],"parameters":[{"name":"alert_uuid","in":"path","required":true,"type":"string"},{"name":"comment_uuid","in":"path","required":true,"type":"string"}]},"patch":{"responses":{"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"200":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/AlertCommentSchema"}}}},"400":{"description":"Invalid parameters"},"404":{"description":"Unknown alert"}},"summary":"Update a comment on an alert","description":"The following permissions are required:\n - “Comment on alerts” (`341436f9-1c33-4cf7-bec3-a6955133ea04`)","operationId":"patch_alert_comment_resource","parameters":[{"name":"alert_uuid","in":"path","required":true,"type":"string"},{"name":"comment_uuid","in":"path","required":true,"type":"string"}],"tags":["Detection","Alerts","Comments"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"content":{"type":"string","description":"Content of the comment"},"author":{"type":"string","maxLength":32,"description":"Author of the comment"}},"required":["content"]}}}}}},"/v1/sic/alerts/{alert_uuid}/custom-fields":{"parameters":[{"name":"alert_uuid","in":"path","required":true,"type":"string"}],"patch":{"responses":{"401":{"description":"Authentication required"},"403":{"description":"Permissions required"},"200":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/CustomFieldsSchema"}}}},"400":{"description":"Invalid parameters"},"404":{"description":"Unknown alert"}},"summary":"Update custom fields of an alert","description":"The following permissions are required:\n - “Manage alerts” (`0e329f9c-173f-4fa0-bbbc-fcfc4bdf7559`)","operationId":"patch_alert_custom_fields_resource","parameters":[{"name":"alert_uuid","in":"path","required":true,"type":"string"}],"tags":["Detection","Alerts","Custom Fields"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"custom_fields":{"type":"array","maxItems":25,"description":"List of custom fields with UUID and value","items":{"type":"object","properties":{"uuid":{"type":"string","format":"uuid","description":"UUID of the custom field"},"value":{"description":"Value of the custom field (boolean, number, string, or array)","x-nullable":true}},"required":["uuid","value"]}}},"required":["custom_fields"]}}}}}},"/v1/sic/alerts/{alert_uuid}/history/{history_uuid}":{"parameters":[{"name":"alert_uuid","in":"path","required":true,"type":"string"},{"name":"history_uuid","in":"path","required":true,"type":"string"}],"get":{"responses":{"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"200":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/AlertHistoryEntrySchema"}}}},"400":{"description":"Invalid parameters"},"404":{"description":"Unknown alert"}},"summary":"Get an history entry of an alert","description":"The following permissions are required:\n - “View alerts” (`9ea2b8a3-593f-4bab-92f5-d0af9b563f6f`)","operationId":"get_alert_history_resource","tags":["Detection","Alerts"],"parameters":[{"name":"alert_uuid","in":"path","required":true,"type":"string"},{"name":"history_uuid","in":"path","required":true,"type":"string"}]}},"/v1/sic/alerts/{alert_uuid}/history/{history_uuid}/comments":{"parameters":[{"name":"alert_uuid","in":"path","required":true,"type":"string"},{"name":"history_uuid","in":"path","required":true,"type":"string"}],"get":{"responses":{"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"200":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/CommentsSchema"}}}},"400":{"description":"Invalid parameters"},"404":{"description":"Unknown alert"}},"summary":"List the history of comments of an alert","description":"The following permissions are required:\n - “View alerts” (`9ea2b8a3-593f-4bab-92f5-d0af9b563f6f`)","operationId":"get_alert_history_comments_resource","parameters":[{"in":"query","name":"limit","type":"integer","default":20,"minimum":1,"maximum":100,"description":"limit a number of items (allowed range is 1-100), default is 20.","required":false},{"in":"query","name":"offset","type":"integer","default":0,"minimum":0,"description":"a number of items to skip, default is 0.","required":false},{"name":"alert_uuid","in":"path","required":true,"type":"string"},{"name":"history_uuid","in":"path","required":true,"type":"string"}],"tags":["Detection","Alerts","Comments"]}},"/v1/sic/alerts/{alert_uuid}/objects/{object_id}":{"parameters":[{"name":"alert_uuid","in":"path","required":true,"type":"string"},{"name":"object_id","in":"path","required":true,"type":"string"}],"get":{"responses":{"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"400":{"description":"Invalid parameters"},"404":{"description":"Unknown alert or object"}},"summary":"Get an alert object by its UUID","description":"The following permissions are required:\n - “View alerts” (`9ea2b8a3-593f-4bab-92f5-d0af9b563f6f`)","operationId":"get_alert_object_resource","tags":["Detection","Alerts","Objects"],"parameters":[{"name":"alert_uuid","in":"path","required":true,"type":"string"},{"name":"object_id","in":"path","required":true,"type":"string"}]}},"/v1/sic/alerts/{alert_uuid}/timeline":{"parameters":[{"name":"alert_uuid","in":"path","required":true,"type":"string"}],"get":{"responses":{"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"200":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/TimelineSchema"}}}},"400":{"description":"Invalid parameters"},"404":{"description":"Unknown alert"}},"summary":"Get the timeline of an alert by its UUID","description":"The following permissions are required:\n - “View alerts” (`9ea2b8a3-593f-4bab-92f5-d0af9b563f6f`)","operationId":"get_alert_timeline_resource","parameters":[{"in":"query","name":"type","type":"string","default":"24h","description":"Type of timeline (supported values: '24h', '14d')","required":false},{"in":"query","name":"frame-length","type":"integer","description":"Size in observed-data of the requested frame","required":false},{"name":"alert_uuid","in":"path","required":true,"type":"string"}],"tags":["Detection","Alerts"]}},"/v1/sic/alerts/{uuid}":{"parameters":[{"name":"uuid","in":"path","required":true,"type":"string"}],"delete":{"responses":{"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"204":{"description":"Deleted Alert"},"404":{"description":"Unknown Alert"}},"summary":"Delete an alert","description":"Will delete everything related to this alert except eternal events.\n\nThe following permissions are required:\n - “Manage alerts” (`0e329f9c-173f-4fa0-bbbc-fcfc4bdf7559`)","operationId":"delete_alert_resource","tags":["Detection","Alerts"],"parameters":[{"name":"uuid","in":"path","required":true,"type":"string"}]},"get":{"responses":{"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"200":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/AlertDetailSchema"}}}},"400":{"description":"Invalid parameters"},"404":{"description":"Unknown alert"}},"summary":"Get a single alert by its UUID","description":"Returns the full detail of an alert, including enriched metadata such as\nunseen comment flags, similarity strategy, and the number of unseen comments.\n\nBy default, comments, history, and countermeasures are included in the response.\nThe STIX bundle and related cases are excluded by default and must be opted into\nvia query parameters.\n\nThe following permissions are required:\n - “View alerts” (`9ea2b8a3-593f-4bab-92f5-d0af9b563f6f`)","operationId":"get_alert_resource","parameters":[{"in":"query","name":"stix","type":"boolean","description":"If set, the STIX bundle object is also returned.","required":false},{"in":"query","name":"comments","type":"boolean","default":true,"description":"If set, comments are also returned with the alert.","required":false},{"in":"query","name":"history","type":"boolean","default":true,"description":"If set, history are also returned with the alert.","required":false},{"in":"query","name":"countermeasures","type":"boolean","default":true,"description":"If set, countermeasures are also returned with the alert.","required":false},{"in":"query","name":"cases","type":"boolean","default":false,"description":"If set, some information about related cases is also returned.","required":false},{"in":"query","name":"custom_status","type":"boolean","default":false,"description":"If set, include custom status and verdict info.","required":false},{"name":"uuid","in":"path","required":true,"type":"string"}],"tags":["Detection","Alerts"]},"patch":{"responses":{"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"200":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/AlertDetailSchema"}}}},"400":{"description":"Invalid parameters"},"404":{"description":"Unknown alert"}},"summary":"Patch an alert","description":"Allows to change the type and category of the alert as well as its details and urgency.\n\nThe following permissions are required:\n - “Manage alerts” (`0e329f9c-173f-4fa0-bbbc-fcfc4bdf7559`)","operationId":"patch_alert_resource","parameters":[{"name":"uuid","in":"path","required":true,"type":"string"}],"tags":["Detection","Alerts"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"alert_type_category":{"type":"string","minLength":3,"maxLength":1000,"description":"Category of the alert type"},"alert_type_value":{"type":"string","minLength":3,"maxLength":1000,"description":"Name of the alert type, required if `alert_type_category` is present"},"details":{"type":"string","description":"Description of the alert"},"urgency":{"type":"integer","description":"The urgency of the alert"},"kill_chain_short_id":{"type":"string","description":"The ID of the kill chain step this alert denotes","x-nullable":true},"title":{"type":"string","maxLength":10000,"description":"Title of the alert"},"status_uuid":{"type":"string","enum":["2efc4930-1442-4abb-acf2-58ba219a4fd0","8f206505-af6d-433e-93f4-775d46dc7d0f","1f2f88d5-ff5b-48bf-bbbc-00c2fff82d9f","1738b1c1-767d-489e-bada-19176621a007","4f68da89-38e0-4703-a6ab-652f02bdf24e"],"description":"UUID of the new alert status"},"comment":{"type":"string","description":"A comment to describe why the alert was updated","x-nullable":true},"verdict_analysis":{"type":"string","description":"Analysis of the alert verdict","x-nullable":true},"verdict_confidence":{"type":"integer","minimum":0,"maximum":100,"description":"Confidence level of the alert verdict","x-nullable":true},"assignee":{"type":"string","format":"uuid","description":"User uuid assigned to the alert","x-nullable":true},"verdict_uuid":{"type":"string","format":"uuid","description":"Verdict of the alert","x-nullable":true},"custom_status_uuid":{"type":"string","format":"uuid","description":"Custom status of the alert","x-nullable":true}}}}}}}},"/v1/sic/alerts/{uuid}/comments":{"parameters":[{"name":"uuid","in":"path","required":true,"type":"string"}],"post":{"responses":{"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"200":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/AlertCommentSchema"}}}},"400":{"description":"Invalid parameters"},"404":{"description":"Unknown alert"}},"summary":"Post a comment on an alert","description":"The following permissions are required:\n - “Comment on alerts” (`341436f9-1c33-4cf7-bec3-a6955133ea04`)","operationId":"post_alert_comments_resource","parameters":[{"name":"uuid","in":"path","required":true,"type":"string"}],"tags":["Detection","Alerts","Comments"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"content":{"type":"string","description":"Content of the comment"},"author":{"type":"string","maxLength":32,"description":"Author of the comment"}},"required":["content"]}}}}},"get":{"responses":{"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"200":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/AlertCommentsSchema"}}}},"400":{"description":"Invalid parameters"},"404":{"description":"Unknown alert"}},"summary":"List the comments of an alert","description":"The following permissions are required:\n - “View alerts” (`9ea2b8a3-593f-4bab-92f5-d0af9b563f6f`)","operationId":"get_alert_comments_resource","parameters":[{"in":"query","name":"limit","type":"integer","default":20,"minimum":1,"maximum":100,"description":"limit a number of items (allowed range is 1-100), default is 20.","required":false},{"in":"query","name":"offset","type":"integer","default":0,"minimum":0,"description":"a number of items to skip, default is 0.","required":false},{"name":"uuid","in":"path","required":true,"type":"string"}],"tags":["Detection","Alerts","Comments"]}},"/v1/sic/alerts/{uuid}/countermeasures":{"parameters":[{"name":"uuid","in":"path","required":true,"type":"string"}],"post":{"responses":{"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"200":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/AlertCountermeasureSchema"}}}},"400":{"description":"Invalid parameters"},"404":{"description":"Unknown alert"}},"summary":"Create a new countermeasure for the alert","description":"The following permissions are required:\n - “Manage alerts” (`0e329f9c-173f-4fa0-bbbc-fcfc4bdf7559`)","operationId":"post_alert_countermeasures_resource","parameters":[{"name":"uuid","in":"path","required":true,"type":"string"}],"tags":["Detection","Alerts","Countermeasures"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","description":"The name of the countermeasure"},"description":{"type":"string","description":"The description of the countermeasure"},"start_on":{"type":"string","description":"The name of the actionstep to execute first"},"relevance":{"type":"integer"},"duration":{"type":"string"},"actionsteps":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","description":"The name of the action step that uniquely identifies it in the current course_of_action"},"description":{"type":"string","description":"The description of the action step"},"type":{"type":"string","default":"text","enum":["openc2","text"],"description":"The type of the action step (e.g. `openc2`, `text`)."},"value":{"type":"string","description":"The content of the action step if single"},"object":{"type":"object","description":"The content of the action step if complex","additionalProperties":{}},"next_steps":{"type":"array","description":"The set of named next action step(s) to execute after completion of this action step","items":{"type":"string"}}},"required":["description","name"]}},"type":{"type":"string","default":"text","enum":["openc2","intelligence_center","text"],"description":"The type of the countermeasure (e.g. `openc2`, `text`, `intelligence_center`)."},"assignee":{"type":"string","description":"The identifier of the profile to assign to the countermeasure","x-nullable":true}},"required":["name","relevance","actionsteps"]}}}}},"get":{"responses":{"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"200":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/AlertCountermeasuresSchema"}}}},"400":{"description":"Invalid parameters"},"404":{"description":"Unknown alert"}},"summary":"List the countermeasures of the alert","description":"The following permissions are required:\n - “View alerts” (`9ea2b8a3-593f-4bab-92f5-d0af9b563f6f`)","operationId":"get_alert_countermeasures_resource","parameters":[{"in":"query","name":"limit","type":"integer","default":20,"minimum":1,"maximum":100,"description":"limit a number of items (allowed range is 1-100), default is 20.","required":false},{"in":"query","name":"offset","type":"integer","default":0,"minimum":0,"description":"a number of items to skip, default is 0.","required":false},{"in":"query","name":"match[status]","type":"string","description":"Match countermeasures according their status (separated by commas).","required":false},{"in":"query","name":"sort","type":"string","description":["Sort returned tags (accepted values: 'uuid', 'name', 'relevance', 'dynamic_relevance', 'created_at')."],"required":false},{"in":"query","name":"direction","type":"string","enum":["asc","desc"],"description":"Direction of the sort (accepted values: 'asc', 'desc').","required":false},{"name":"uuid","in":"path","required":true,"type":"string"}],"tags":["Detection","Alerts","Countermeasures"]}},"/v1/sic/alerts/{uuid}/duplicate":{"parameters":[{"name":"uuid","in":"path","required":true,"type":"string"}],"post":{"responses":{"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"200":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/AlertDetailSchema"}}}},"404":{"description":"Unknown alert"}},"summary":"Duplicate an alert, with everything related to the alert EXCEPT eternal events","description":"The following permissions are required:\n - “Manage alerts” (`0e329f9c-173f-4fa0-bbbc-fcfc4bdf7559`)","operationId":"post_alert_duplicate_resource","tags":["Alert"],"parameters":[{"name":"uuid","in":"path","required":true,"type":"string"}]}},"/v1/sic/alerts/{uuid}/history":{"parameters":[{"name":"uuid","in":"path","required":true,"type":"string"}],"get":{"responses":{"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"200":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/AlertHistorySchema"}}}},"400":{"description":"Invalid parameters"},"404":{"description":"Unknown alert"}},"summary":"Get the history of an alert","description":"The following permissions are required:\n - “View alerts” (`9ea2b8a3-593f-4bab-92f5-d0af9b563f6f`)","operationId":"get_alert_history_list_resource","parameters":[{"in":"query","name":"limit","type":"integer","default":20,"minimum":1,"maximum":100,"description":"limit a number of items (allowed range is 1-100), default is 20.","required":false},{"in":"query","name":"offset","type":"integer","default":0,"minimum":0,"description":"a number of items to skip, default is 0.","required":false},{"in":"query","name":"community_uuid","type":"string","description":"UUID of the community.","required":false},{"name":"uuid","in":"path","required":true,"type":"string"}],"tags":["Detection","Alerts"]}},"/v1/sic/alerts/{uuid}/objects":{"parameters":[{"name":"uuid","in":"path","required":true,"type":"string"}],"get":{"responses":{"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"200":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/ObjectsSchema"}}}},"400":{"description":"Invalid parameters"},"404":{"description":"Unknown alert"}},"summary":"List the objects of the alert","description":"The following permissions are required:\n - “View alerts” (`9ea2b8a3-593f-4bab-92f5-d0af9b563f6f`)","operationId":"get_alert_objects_resource","parameters":[{"in":"query","name":"limit","type":"integer","default":100,"minimum":1,"maximum":1000,"description":"limit a number of items (allowed range is 1-1000), default is 100.","required":false},{"in":"query","name":"offset","type":"integer","default":0,"minimum":0,"description":"a number of items to skip, default is 0.","required":false},{"in":"query","name":"match[type]","type":"string","description":"Match objects by their types (separated by commas).","required":false},{"in":"query","name":"match[kind]","type":"string","description":"Match objects by their kinds (separated by commas).","required":false},{"in":"query","name":"exclude[type]","type":"string","description":"Exclude objects by their type.","required":false},{"in":"query","name":"date[created_at]","type":"string","description":"Filter objects by their creation dates (see rfc3339).","format":"date-range","example":"2025-01-01T00:00:00,2025-12-31T23:59:59","required":false},{"name":"uuid","in":"path","required":true,"type":"string"}],"tags":["Detection","Alerts","Objects"]}},"/v1/sic/alerts/{uuid}/workflow":{"parameters":[{"name":"uuid","in":"path","required":true,"type":"string"}],"get":{"responses":{"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"200":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/AlertStatusWorkflowSchema"}}}},"400":{"description":"Invalid parameters"},"404":{"description":"Unknown alert"}},"summary":"List the actions available to update an alert status","description":"The following permissions are required:\n - “View alerts” (`9ea2b8a3-593f-4bab-92f5-d0af9b563f6f`)","operationId":"get_alert_workflow_resource","tags":["Detection","Alerts","Alert Status"],"parameters":[{"name":"uuid","in":"path","required":true,"type":"string"}]},"patch":{"responses":{"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"200":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/AlertStatusWorkflowSchema"}}}},"400":{"description":"Invalid parameters"},"404":{"description":"Unknown alert"},"409":{"description":"Invalid action_uuid given current status"}},"summary":"Update an alert custom status or a legacy status","description":"The identifier of the action_uuid is either a custom status or a legacy status\n\nThe following permissions are required:\n - “Update alert status” (`9f3df1b1-4db7-44bd-b615-af5873ad7f8a`)","operationId":"patch_alert_workflow_resource","parameters":[{"name":"uuid","in":"path","required":true,"type":"string"}],"tags":["Detection","Alerts","Alert Status"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"action_uuid":{"type":"string","format":"uuid","description":"UUID of the custom status or the legacy status"},"comment":{"type":"string","description":"A comment to describe why the alert status has changed","x-nullable":true}},"required":["action_uuid"]}}}}}},"/v1/sic/case-templates":{"post":{"responses":{"401":{"description":"Authentication required"},"403":{"description":"Permissions required"},"200":{"description":"Request fulfilled, document follows","cont
[...]
