{"openapi":"3.1.0","info":{"title":"Intelligence Center API","version":"2.20260908-34210884044-2dd33c636a6cf9500edede3e261cb9040debe04e","description":"Documentation for the Intelligence Center API"},"servers":[{"url":"https://api.sekoia.io","description":"Sekoia.io API"}],"paths":{"/v2/inthreat/bundles":{"post":{"responses":{"202":{"description":"Accepted","content":{"application.json":{"schema":{"$ref":"#/components/schemas/WrappedDelayedUploadSchema"}}}},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"}},"summary":"Upload bundle objects to inthreat","description":"A content proposal request will be created so the objects may later be consolidated\nonce a reviewer approved the changes in the content proposal.\n\nThe content proposal contains a copy of the object with it's own id.\n\nThe following permissions are required:\n - “Manage intelligence objects” (`33ea2a27-26ee-434e-a072-f064617f9f6d`)","operationId":"post_bundles_resource","parameters":[],"tags":["Bundles"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"auto_merge":"boolean","name":"string","enrich":"boolean","assigned_to":"string"}}}}}}},"/v2/inthreat/bundles/{hash}":{"parameters":[{"name":"hash","in":"path","required":true,"type":"string"}],"get":{"responses":{"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"}},"summary":"Download STIX bundle","description":"Download the STIX bundle with the given hash.\n\nThe following permissions are required:\n - “View intelligence” (`8d9901dc-0508-4472-b3c1-5ad5efc96032`)","operationId":"get_get_bundle_resource","tags":["Bundles"],"parameters":[{"name":"hash","in":"path","required":true,"type":"string"}]}},"/v2/inthreat/collections/observables":{"get":{"responses":{"200":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/CollectionListOfObservablesSchema"}}}},"400":{"description":"Invalid parameters"}},"summary":"Consume a feed of observables","description":"Each response gives a `next_cursor` attribute that can be used in the `cursor` parameter for the next request","operationId":"get_observables_collection_resource","parameters":[{"in":"query","name":"cursor","required":false,"type":"string"},{"in":"query","name":"modified_after","required":false,"type":"string"},{"in":"query","name":"limit","required":false,"type":"integer","default":100,"minimum":1,"maximum":10000,"description":"Number of objects to return, maximum is 10000 for the text format and 2000 for others"},{"in":"query","name":"match[type]","required":false,"type":"string","description":"Match observables by their type."},{"in":"query","name":"with_tags","required":false,"type":"boolean","default":false}],"tags":["Collections"]}},"/v2/inthreat/collections/relationships":{"get":{"responses":{"200":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/CollectionListOfRelationshipsSchema"}}}},"400":{"description":"Invalid parameters"}},"summary":"Consume a feed of object relationships","description":"Yields a feed of relationships involving the objects matching the provided IDs.\nEach response gives a `next_cursor` attribute that can be used in the `cursor` parameter for the next request","operationId":"get_relationships_collection_resource","parameters":[{"in":"query","name":"cursor","required":false,"type":"string"},{"in":"query","name":"modified_after","required":false,"type":"string"},{"in":"query","name":"limit","required":false,"type":"integer","default":100,"minimum":1,"maximum":10000,"description":"Number of objects to return, maximum is 10000 for the text format and 2000 for others"},{"in":"query","name":"match[id]","required":true,"type":"string","description":"Ids of the objects to get the relationships from."}],"tags":["Collections"]}},"/v2/inthreat/collections/{feed_id}/objects":{"parameters":[{"name":"feed_id","in":"path","required":true,"type":"string"}],"get":{"responses":{"200":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/ListOfObjectsSchema"}}}},"400":{"description":"Invalid parameters"},"404":{"description":"Not Found"}},"summary":"Consume a feed of objects","description":"Each response gives a `next_cursor` attribute that can be used in the `cursor` parameter for the next request","operationId":"get_objects_collection_resource","parameters":[{"in":"query","name":"cursor","required":false,"type":"string"},{"in":"query","name":"modified_after","required":false,"type":"string"},{"in":"query","name":"limit","required":false,"type":"integer","default":100,"minimum":1,"maximum":10000,"description":"Number of objects to return, maximum is 10000 for the text format and 2000 for others"},{"in":"query","name":"match[type]","required":false,"type":"string","description":"Match objects by their type."},{"in":"query","name":"match[observable_type]","required":false,"type":"string","description":"Match indicators by the observables the pattern contains."},{"in":"query","name":"convert_network_traffic","required":false,"type":"boolean","default":true},{"in":"query","name":"skip_expired","required":false,"type":"boolean","description":"Whether we should skip expired indicators"},{"in":"query","name":"include_revoked","required":false,"type":"boolean","description":"Whether revoked objects should be included"},{"in":"query","name":"return_all_fields","required":false,"type":"boolean","default":false,"description":"Whether all the fields of an object should be returned"},{"in":"query","name":"format","required":false,"type":"string","enum":["json","csv","text"],"description":"Format of the response"},{"in":"query","name":"latest","required":false,"type":"boolean","description":"Retrieve the latest objects"},{"name":"feed_id","in":"path","required":true,"type":"string"}],"tags":["Collections"]}},"/v2/inthreat/collections/{feed_id}/patterns":{"parameters":[{"name":"feed_id","in":"path","required":true,"type":"string"}],"get":{"responses":{"200":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/CollectionListOfPatternsSchema"}}}},"400":{"description":"Invalid parameters"}},"summary":"Consume the given feed of patterns","description":"The indicators that are in a command and control kill chain phase will have the ips\nin their patterns changed from `ipv4-addr:value` to `network-traffic:dst_ref.value`.","operationId":"get_objects_collection_pattern_resource","parameters":[{"in":"query","name":"limit","required":false,"type":"integer","default":100,"minimum":1,"maximum":2000},{"in":"query","name":"modified_after","required":false,"type":"string"},{"in":"query","name":"after_id","required":false,"type":"string"},{"in":"query","name":"include_revoked","required":false,"type":"boolean","default":false},{"in":"query","name":"cursor","required":false,"type":"string"},{"name":"feed_id","in":"path","required":true,"type":"string"}],"tags":["Collections"]}},"/v2/inthreat/configuration/default-identity":{"get":{"responses":{"200":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/ConfigurationSchema"}}}}},"summary":"Retrieve default identity configured in the Intelligence Center","operationId":"get_default_identity_configuration_resource","tags":["config"]}},"/v2/inthreat/content-proposals":{"get":{"responses":{"200":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/ListOfContentProposalSchema"}}}},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"}},"summary":"List content proposals","description":"The following permissions are required:\n - “View intelligence content proposals” (`5f4b1f5b-cab7-49a7-8f95-d897ec262289`)","operationId":"get_content_proposals_resource","parameters":[{"in":"query","name":"limit","required":false,"type":"integer","default":20,"minimum":1,"maximum":100,"description":"limit a number of items (allowed range is 1-100), default is 20."},{"in":"query","name":"offset","required":false,"type":"integer","default":0,"minimum":0,"description":"a number of items to skip, default is 0."},{"in":"query","name":"match[assigned_to]","required":false,"type":"string","description":"Match content proposals by their assignee."},{"in":"query","name":"match[reviewer]","required":false,"type":"string","description":"Match content proposals by their reviewer."},{"in":"query","name":"match[status]","required":false,"type":"string","description":"Match content proposals by their status."},{"in":"query","name":"match[source_ref]","required":false,"type":"string","description":"Match content proposals by their source."},{"in":"query","name":"match[name]","required":false,"type":"string","description":"Match content proposals by their name."},{"in":"query","name":"sort","required":false,"type":"string","default":null,"enum":["modified","-modified"],"x-nullable":true},{"in":"query","name":"rfi_only","required":false,"type":"boolean","default":false}],"tags":["content-proposals"]},"post":{"responses":{"201":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/WrappedContentProposalSchema"}}}},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"}},"summary":"Create a content proposal","description":"The following permissions are required:\n - “Create and edit intelligence content proposals” (`623f27aa-7778-49db-b6fa-9d1e25e2e0b4`)","operationId":"post_content_proposals_resource","parameters":[],"tags":["content-proposals"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"data":"object"}}}}}}},"/v2/inthreat/content-proposals/bulk":{"delete":{"responses":{"204":{"description":"Success"},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"}},"summary":"Bulk reject content proposals","description":"The following permissions are required:\n - “Create and edit intelligence content proposals” (`623f27aa-7778-49db-b6fa-9d1e25e2e0b4`)","operationId":"delete_content_proposals_bulk_resource","parameters":[],"tags":["content-proposals"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"match[id]":"string"}}}}}},"patch":{"responses":{"204":{"description":"Success"},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"}},"summary":"Bulk update content proposals","description":"The following permissions are required:\n - “Create and edit intelligence content proposals” (`623f27aa-7778-49db-b6fa-9d1e25e2e0b4`)","operationId":"patch_content_proposals_bulk_resource","parameters":[],"tags":["content-proposals"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"data":"object","match[id]":"string"}}}}}}},"/v2/inthreat/content-proposals/bulk/merge":{"post":{"responses":{"202":{"description":"Accepted"},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"}},"summary":"Bulk merge content proposals","description":"The following permissions are required:\n - “Manage intelligence objects” (`33ea2a27-26ee-434e-a072-f064617f9f6d`)","operationId":"post_content_proposals_bulk_merge_resource","parameters":[],"tags":["content-proposals"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"match[id]":"string"}}}}}}},"/v2/inthreat/content-proposals/{uuid}":{"parameters":[{"name":"uuid","in":"path","required":true,"type":"string"}],"delete":{"responses":{"204":{"description":"Success"},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"404":{"description":"Unknown content proposal"}},"summary":"Reject a content proposal","description":"The following permissions are required:\n - “Create and edit intelligence content proposals” (`623f27aa-7778-49db-b6fa-9d1e25e2e0b4`)","operationId":"delete_content_proposal_resource","tags":["content-proposals"],"parameters":[{"name":"uuid","in":"path","required":true,"type":"string"}]},"get":{"responses":{"200":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/WrappedContentProposalSchema"}}}},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"404":{"description":"Unknown content proposal"}},"summary":"Get a content proposal","description":"The following permissions are required:\n - “View intelligence content proposals” (`5f4b1f5b-cab7-49a7-8f95-d897ec262289`)","operationId":"get_content_proposal_resource","tags":["content-proposals"],"parameters":[{"name":"uuid","in":"path","required":true,"type":"string"}]},"patch":{"responses":{"200":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/WrappedContentProposalSchema"}}}},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"400":{"description":"Invalid parameters"},"404":{"description":"Unknown content proposal"}},"summary":"Modify a content proposal","description":"The following permissions are required:\n - “Create and edit intelligence content proposals” (`623f27aa-7778-49db-b6fa-9d1e25e2e0b4`)","operationId":"patch_content_proposal_resource","parameters":[{"name":"uuid","in":"path","required":true,"type":"string"}],"tags":["content-proposals"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"data":"object"}}}}}}},"/v2/inthreat/content-proposals/{uuid}/bundle":{"parameters":[{"name":"uuid","in":"path","required":true,"type":"string"}],"get":{"responses":{"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"400":{"description":"Not merged content proposal"},"404":{"description":"Unknown content proposal"}},"summary":"Retrieve the bundle of a merged content proposal","description":"The following permissions are required:\n - “View intelligence content proposals” (`5f4b1f5b-cab7-49a7-8f95-d897ec262289`)","operationId":"get_content_proposal_bundle_resource","tags":["content-proposals"],"parameters":[{"name":"uuid","in":"path","required":true,"type":"string"}]}},"/v2/inthreat/content-proposals/{uuid}/comments":{"parameters":[{"name":"uuid","in":"path","required":true,"type":"string"}],"get":{"responses":{"200":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/ListOfCommentsSchema"}}}},"404":{"description":"Unknown content proposal"},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"}},"summary":"List all the comments of a content proposal","description":"The following permissions are required:\n - “View intelligence content proposals” (`5f4b1f5b-cab7-49a7-8f95-d897ec262289`)","operationId":"get_content_proposal_comments_resource","parameters":[{"in":"query","name":"limit","required":false,"type":"integer","default":20,"minimum":1,"maximum":100,"description":"limit a number of items (allowed range is 1-100), default is 20."},{"in":"query","name":"offset","required":false,"type":"integer","default":0,"minimum":0,"description":"a number of items to skip, default is 0."},{"name":"uuid","in":"path","required":true,"type":"string"}],"tags":["content-proposals-comments"]},"post":{"responses":{"201":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/CreateCommentSchema"}}}},"404":{"description":"Unknown content proposal"},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"}},"summary":"Create a new content proposal's comment","description":"The following permissions are required:\n - “Create and edit intelligence content proposals” (`623f27aa-7778-49db-b6fa-9d1e25e2e0b4`)","operationId":"post_content_proposal_comments_resource","parameters":[{"name":"uuid","in":"path","required":true,"type":"string"}],"tags":["content-proposals-comments"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"comment":"string"}}}}}}},"/v2/inthreat/content-proposals/{uuid}/comments/{comment_uuid}":{"parameters":[{"name":"uuid","in":"path","required":true,"type":"string"},{"name":"comment_uuid","in":"path","required":true,"type":"string"}],"delete":{"responses":{"404":{"description":"Unknown comment"},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"}},"summary":"Delete a content proposal's comment","description":"The following permissions are required:\n - “Create and edit intelligence content proposals” (`623f27aa-7778-49db-b6fa-9d1e25e2e0b4`)","operationId":"delete_content_proposal_comment_resource","tags":["content-proposals-comments"],"parameters":[{"name":"uuid","in":"path","required":true,"type":"string"},{"name":"comment_uuid","in":"path","required":true,"type":"string"}]},"patch":{"responses":{"200":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/CommentSchema"}}}},"404":{"description":"Unknown comment"},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"}},"summary":"Modify a content proposal's comment","description":"The following permissions are required:\n - “Create and edit intelligence content proposals” (`623f27aa-7778-49db-b6fa-9d1e25e2e0b4`)","operationId":"patch_content_proposal_comment_resource","parameters":[{"name":"uuid","in":"path","required":true,"type":"string"},{"name":"comment_uuid","in":"path","required":true,"type":"string"}],"tags":["content-proposals-comments"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"comment":"string"}}}}}}},"/v2/inthreat/content-proposals/{uuid}/extracted-items":{"parameters":[{"name":"uuid","in":"path","required":true,"type":"string"}],"get":{"responses":{"200":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/ListOfExtractedItemSchema"}}}},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"404":{"description":"Unknown content proposal"}},"summary":"List items extracted from the report","description":"The following permissions are required:\n - “View intelligence content proposals” (`5f4b1f5b-cab7-49a7-8f95-d897ec262289`)","operationId":"get_content_proposals_extracted_items_resource","parameters":[{"in":"query","name":"limit","required":false,"type":"integer","default":20,"minimum":1,"maximum":100,"description":"limit a number of items (allowed range is 1-100), default is 20."},{"in":"query","name":"offset","required":false,"type":"integer","default":0,"minimum":0,"description":"a number of items to skip, default is 0."},{"name":"uuid","in":"path","required":true,"type":"string"}],"tags":["content-proposals"]}},"/v2/inthreat/content-proposals/{uuid}/merge":{"parameters":[{"name":"uuid","in":"path","required":true,"type":"string"}],"post":{"responses":{"202":{"description":"Accepted"},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"404":{"description":"Unknown content proposal"}},"summary":"Merge a content proposal","description":"The following permissions are required:\n - “Manage intelligence objects” (`33ea2a27-26ee-434e-a072-f064617f9f6d`)","operationId":"post_merge_content_proposal_resource","tags":["content-proposals"],"parameters":[{"name":"uuid","in":"path","required":true,"type":"string"}]}},"/v2/inthreat/content-proposals/{uuid}/objects":{"parameters":[{"name":"uuid","in":"path","required":true,"type":"string"}],"get":{"responses":{"200":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/CPListOfObjectsSchema"}}}},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"404":{"description":"Unknown content proposal"}},"summary":"List merge proposal objects that have been modified","description":"The following permissions are required:\n - “View intelligence content proposals” (`5f4b1f5b-cab7-49a7-8f95-d897ec262289`)","operationId":"get_content_proposal_objects_resource","parameters":[{"in":"query","name":"limit","required":false,"type":"integer","default":20,"minimum":1,"maximum":100,"description":"limit a number of items (allowed range is 1-100), default is 20."},{"in":"query","name":"offset","required":false,"type":"integer","default":0,"minimum":0,"description":"a number of items to skip, default is 0."},{"in":"query","name":"match[type]","required":false,"type":"string","description":"Match object's type."},{"in":"query","name":"match[name]","required":false,"type":"string","description":"Match objects by their name."},{"in":"query","name":"has_warnings","required":false,"type":"boolean"},{"in":"query","name":"with_relationships","required":false,"type":"boolean","default":false},{"name":"uuid","in":"path","required":true,"type":"string"}],"tags":["content-proposals-objects"]},"post":{"responses":{"201":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/CPWrappedObjectSchema"}}}},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"404":{"description":"Unknown content proposal"}},"summary":"Add new object to content proposal","description":"The following permissions are required:\n - “Create and edit intelligence content proposals” (`623f27aa-7778-49db-b6fa-9d1e25e2e0b4`)","operationId":"post_content_proposal_objects_resource","parameters":[{"name":"uuid","in":"path","required":true,"type":"string"}],"tags":["content-proposals-objects"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"data":"object"}}}}}}},"/v2/inthreat/content-proposals/{uuid}/objects/async-bulk":{"parameters":[{"name":"uuid","in":"path","required":true,"type":"string"}],"post":{"responses":{"202":{"description":"Accepted"},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"}},"summary":"Asynchronously bulk create objects in a content proposal","description":"The following permissions are required:\n - “Create and edit intelligence content proposals” (`623f27aa-7778-49db-b6fa-9d1e25e2e0b4`)","operationId":"post_content_proposals_objects_async_bulk_resource","parameters":[{"name":"uuid","in":"path","required":true,"type":"string"}],"tags":["content-proposals-objects"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"data":"array"}}}}}},"put":{"responses":{"202":{"description":"Accepted"},"400":{"description":"Invalid parameters"},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"}},"summary":"Asynchronously bulk update objects in a content proposal","description":"The following permissions are required:\n - “Create and edit intelligence content proposals” (`623f27aa-7778-49db-b6fa-9d1e25e2e0b4`)","operationId":"put_content_proposals_objects_async_bulk_resource","parameters":[{"name":"uuid","in":"path","required":true,"type":"string"}],"tags":["content-proposals-objects"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"ids":"array","operations":"array"}}}}}}},"/v2/inthreat/content-proposals/{uuid}/objects/bulk":{"parameters":[{"name":"uuid","in":"path","required":true,"type":"string"}],"delete":{"responses":{"204":{"description":"Success"},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"207":{"description":"MULTI-STATUS"}},"summary":"Bulk remove objects from proposal","description":"The following permissions are required:\n - “Create and edit intelligence content proposals” (`623f27aa-7778-49db-b6fa-9d1e25e2e0b4`)","operationId":"delete_content_proposals_objects_bulk_resource","parameters":[{"name":"uuid","in":"path","required":true,"type":"string"}],"tags":["content-proposals-objects"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"limit":"integer","offset":"integer","match[id]":"string"}}}}}},"post":{"responses":{"201":{"description":"Created"},"400":{"description":"Invalid parameters"},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"}},"summary":"Bulk create objects in a content proposal","description":"The following permissions are required:\n - “Create and edit intelligence content proposals” (`623f27aa-7778-49db-b6fa-9d1e25e2e0b4`)","operationId":"post_content_proposals_objects_bulk_resource","parameters":[{"name":"uuid","in":"path","required":true,"type":"string"}],"tags":["content-proposals-objects"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"data":"array"}}}}}},"put":{"responses":{"200":{"description":"Success"},"400":{"description":"Invalid parameters"},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"}},"summary":"Bulk update objects in a content proposal","description":"The following permissions are required:\n - “Create and edit intelligence content proposals” (`623f27aa-7778-49db-b6fa-9d1e25e2e0b4`)","operationId":"put_content_proposals_objects_bulk_resource","parameters":[{"name":"uuid","in":"path","required":true,"type":"string"}],"tags":["content-proposals-objects"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"ids":"array","operations":"array"}}}}}}},"/v2/inthreat/content-proposals/{uuid}/objects/search":{"parameters":[{"name":"uuid","in":"path","required":true,"type":"string"}],"post":{"responses":{"200":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/CPListOfObjectsSchema"}}}},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"400":{"description":"Invalid parameters"}},"summary":"Search objects in content proposal","description":"The following permissions are required:\n - “View intelligence content proposals” (`5f4b1f5b-cab7-49a7-8f95-d897ec262289`)","operationId":"post_object_search_resource","parameters":[{"name":"uuid","in":"path","required":true,"type":"string"}],"tags":["content-proposals-objects"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"limit":"integer","offset":"integer","term":"string","type":"string","fill_with_consolidated":"boolean"}}}}}}},"/v2/inthreat/content-proposals/{uuid}/objects/{object_id}/files/{hash}":{"parameters":[{"name":"uuid","in":"path","required":true,"type":"string"},{"name":"object_id","in":"path","required":true,"type":"string"},{"name":"hash","in":"path","required":true,"type":"string"}],"get":{"responses":{"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"}},"description":"The following permissions are required:\n - “View intelligence content proposals” (`5f4b1f5b-cab7-49a7-8f95-d897ec262289`)","operationId":"get_get_file_resource","tags":["files"],"parameters":[{"name":"uuid","in":"path","required":true,"type":"string"},{"name":"object_id","in":"path","required":true,"type":"string"},{"name":"hash","in":"path","required":true,"type":"string"}]}},"/v2/inthreat/content-proposals/{uuid}/objects/{object_uuid}":{"parameters":[{"name":"uuid","in":"path","required":true,"type":"string"},{"name":"object_uuid","in":"path","required":true,"type":"string"}],"delete":{"responses":{"204":{"description":"Success"},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"404":{"description":"Unknown object"}},"summary":"Remove object changes from the content proposal","description":"The following permissions are required:\n - “Create and edit intelligence content proposals” (`623f27aa-7778-49db-b6fa-9d1e25e2e0b4`)","operationId":"delete_content_proposal_object_resource","tags":["content-proposals-objects"],"parameters":[{"name":"uuid","in":"path","required":true,"type":"string"},{"name":"object_uuid","in":"path","required":true,"type":"string"}]},"get":{"responses":{"200":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/CPWrappedObjectSchema"}}}},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"404":{"description":"Unknown object"}},"summary":"Retrieve object changes","description":"The following permissions are required:\n - “View intelligence content proposals” (`5f4b1f5b-cab7-49a7-8f95-d897ec262289`)","operationId":"get_content_proposal_object_resource","tags":["content-proposals-objects"],"parameters":[{"name":"uuid","in":"path","required":true,"type":"string"},{"name":"object_uuid","in":"path","required":true,"type":"string"}]},"patch":{"responses":{"200":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/CPWrappedObjectSchema"}}}},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"404":{"description":"Unknown object"}},"summary":"Update suggested changes to the object","description":"The following permissions are required:\n - “Create and edit intelligence content proposals” (`623f27aa-7778-49db-b6fa-9d1e25e2e0b4`)","operationId":"patch_content_proposal_object_resource","parameters":[{"name":"uuid","in":"path","required":true,"type":"string"},{"name":"object_uuid","in":"path","required":true,"type":"string"}],"tags":["content-proposals-objects"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"data":"object"}}}}}}},"/v2/inthreat/content-proposals/{uuid}/objects/{object_uuid}/observables":{"parameters":[{"name":"uuid","in":"path","required":true,"type":"string"},{"name":"object_uuid","in":"path","required":true,"type":"string"}],"get":{"responses":{"200":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/CPListOfObservablesSchema"}}}},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"404":{"description":"Unknown object"}},"summary":"Retrieve observables","description":"The following permissions are required:\n - “View intelligence content proposals” (`5f4b1f5b-cab7-49a7-8f95-d897ec262289`)","operationId":"get_content_proposal_object_observables_resource","parameters":[{"in":"query","name":"fill_with_consolidated","required":false,"type":"boolean","default":false},{"name":"uuid","in":"path","required":true,"type":"string"},{"name":"object_uuid","in":"path","required":true,"type":"string"}],"tags":["content-proposals-objects"]}},"/v2/inthreat/content-proposals/{uuid}/objects/{object_uuid}/relationships":{"parameters":[{"name":"uuid","in":"path","required":true,"type":"string"},{"name":"object_uuid","in":"path","required":true,"type":"string"}],"get":{"responses":{"200":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/CPListOfRelationshipsSchema"}}}},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"404":{"description":"Unknown object"}},"summary":"Retrieve relationships","description":"The following permissions are required:\n - “View intelligence content proposals” (`5f4b1f5b-cab7-49a7-8f95-d897ec262289`)","operationId":"get_content_proposal_object_relationships_resource","parameters":[{"in":"query","name":"limit","required":false,"type":"integer","default":20,"minimum":1,"maximum":100,"description":"limit a number of items (allowed range is 1-100), default is 20."},{"in":"query","name":"offset","required":false,"type":"integer","default":0,"minimum":0,"description":"a number of items to skip, default is 0."},{"in":"query","name":"fill_with_consolidated","required":false,"type":"boolean","default":false},{"name":"uuid","in":"path","required":true,"type":"string"},{"name":"object_uuid","in":"path","required":true,"type":"string"}],"tags":["content-proposals-objects"]}},"/v2/inthreat/content-proposals/{uuid}/objects/{object_uuid}/reviewed":{"parameters":[{"name":"uuid","in":"path","required":true,"type":"string"},{"name":"object_uuid","in":"path","required":true,"type":"string"}],"post":{"responses":{"200":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/CPWrappedObjectSchema"}}}},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"404":{"description":"Unknown content proposal"}},"summary":"Mark object as reviewed","description":"The following permissions are required:\n - “Create and edit intelligence content proposals” (`623f27aa-7778-49db-b6fa-9d1e25e2e0b4`)","operationId":"post_content_proposal_object_reviewed_resource","parameters":[{"name":"uuid","in":"path","required":true,"type":"string"},{"name":"object_uuid","in":"path","required":true,"type":"string"}],"tags":["content-proposals-objects"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"is_reviewed":"boolean"}}}}}}},"/v2/inthreat/content-proposals/{uuid}/objects/{object_uuid}/warnings/{warning_id}/ignore":{"parameters":[{"name":"uuid","in":"path","required":true,"type":"string"},{"name":"object_uuid","in":"path","required":true,"type":"string"},{"name":"warning_id","in":"path","required":true,"type":"string"}],"post":{"responses":{"200":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/CPWrappedObjectSchema"}}}},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"404":{"description":"Unknown object"}},"summary":"Ignore a warning","description":"The following permissions are required:\n - “Create and edit intelligence content proposals” (`623f27aa-7778-49db-b6fa-9d1e25e2e0b4`)","operationId":"post_content_proposal_warnings_resource","tags":["content-proposals-objects"],"parameters":[{"name":"uuid","in":"path","required":true,"type":"string"},{"name":"object_uuid","in":"path","required":true,"type":"string"},{"name":"warning_id","in":"path","required":true,"type":"string"}]}},"/v2/inthreat/content-proposals/{uuid}/objects/{object_uuid}/warnings/{warning_id}/reconsider":{"parameters":[{"name":"uuid","in":"path","required":true,"type":"string"},{"name":"object_uuid","in":"path","required":true,"type":"string"},{"name":"warning_id","in":"path","required":true,"type":"string"}],"post":{"responses":{"200":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/CPWrappedObjectSchema"}}}},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"404":{"description":"Unknown object"}},"summary":"Reconsider a warning (switch ignored to False)","description":"The following permissions are required:\n - “Create and edit intelligence content proposals” (`623f27aa-7778-49db-b6fa-9d1e25e2e0b4`)","operationId":"post_content_proposal_reconsider_resource","tags":["content-proposals-objects"],"parameters":[{"name":"uuid","in":"path","required":true,"type":"string"},{"name":"object_uuid","in":"path","required":true,"type":"string"},{"name":"warning_id","in":"path","required":true,"type":"string"}]}},"/v2/inthreat/content-proposals/{uuid}/observable-relationships":{"parameters":[{"name":"uuid","in":"path","required":true,"type":"string"}],"get":{"responses":{"200":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/CPListOfObservableRelationshipsSchema"}}}},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"404":{"description":"Unknown content proposal"}},"summary":"List proposal observable's relationships that have been modified","description":"The following permissions are required:\n - “View intelligence content proposals” (`5f4b1f5b-cab7-49a7-8f95-d897ec262289`)","operationId":"get_content_proposal_relationships_resource","parameters":[{"in":"query","name":"limit","required":false,"type":"integer","default":20,"minimum":1,"maximum":100,"description":"limit a number of items (allowed range is 1-100), default is 20."},{"in":"query","name":"offset","required":false,"type":"integer","default":0,"minimum":0,"description":"a number of items to skip, default is 0."},{"name":"uuid","in":"path","required":true,"type":"string"}],"tags":["content-proposals-observable-relationships"]},"post":{"responses":{"201":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/CPWrappedObservableRelationshipSchema"}}}},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"404":{"description":"Unknown content proposal"}},"summary":"Add new observable's relationship to content proposal","description":"The following permissions are required:\n - “Create and edit intelligence content proposals” (`623f27aa-7778-49db-b6fa-9d1e25e2e0b4`)","operationId":"post_content_proposal_relationships_resource","parameters":[{"name":"uuid","in":"path","required":true,"type":"string"}],"tags":["content-proposals-observable-relationships"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"data":"object"}}}}}}},"/v2/inthreat/content-proposals/{uuid}/observable-relationships/bulk":{"parameters":[{"name":"uuid","in":"path","required":true,"type":"string"}],"delete":{"responses":{"204":{"description":"Success"},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"207":{"description":"MULTI-STATUS"}},"summary":"Bulk remove observable's relationships from proposal","description":"The following permissions are required:\n - “Create and edit intelligence content proposals” (`623f27aa-7778-49db-b6fa-9d1e25e2e0b4`)","operationId":"delete_content_proposals_relationships_bulk_resource","parameters":[{"name":"uuid","in":"path","required":true,"type":"string"}],"tags":["content-proposals-observable-relationships"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"limit":"integer","offset":"integer","match[id]":"string"}}}}}},"post":{"responses":{"201":{"description":"Created"},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"400":{"description":"Invalid parameters"}},"summary":"Bulk create observable's relationships in proposal","description":"The following permissions are required:\n - “Create and edit intelligence content proposals” (`623f27aa-7778-49db-b6fa-9d1e25e2e0b4`)","operationId":"post_content_proposals_relationships_bulk_resource","parameters":[{"name":"uuid","in":"path","required":true,"type":"string"}],"tags":["content-proposals-observable-relationships"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"data":"array"}}}}}}},"/v2/inthreat/content-proposals/{uuid}/observable-relationships/{relationship_uuid}":{"parameters":[{"name":"uuid","in":"path","required":true,"type":"string"},{"name":"relationship_uuid","in":"path","required":true,"type":"string"}],"delete":{"responses":{"204":{"description":"Success"},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"404":{"description":"Unknown relationship"}},"summary":"Remove observable's relationship changes from the content proposal","description":"The following permissions are required:\n - “Create and edit intelligence content proposals” (`623f27aa-7778-49db-b6fa-9d1e25e2e0b4`)","operationId":"delete_content_proposal_relationship_resource","tags":["content-proposals-observable-relationships"],"parameters":[{"name":"uuid","in":"path","required":true,"type":"string"},{"name":"relationship_uuid","in":"path","required":true,"type":"string"}]},"get":{"responses":{"200":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/CPWrappedObservableRelationshipSchema"}}}},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"404":{"description":"Unknown object"}},"summary":"Retrieve observable's relationship changes","description":"The following permissions are required:\n - “View intelligence content proposals” (`5f4b1f5b-cab7-49a7-8f95-d897ec262289`)","operationId":"get_content_proposal_relationship_resource","tags":["content-proposals-observable-relationships"],"parameters":[{"name":"uuid","in":"path","required":true,"type":"string"},{"name":"relationship_uuid","in":"path","required":true,"type":"string"}]},"patch":{"responses":{"200":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/CPWrappedObservableRelationshipSchema"}}}},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"404":{"description":"Unknown relationship"}},"summary":"Update suggested changes to the observable's relationship","description":"The following permissions are required:\n - “Create and edit intelligence content proposals” (`623f27aa-7778-49db-b6fa-9d1e25e2e0b4`)","operationId":"patch_content_proposal_relationship_resource","parameters":[{"name":"uuid","in":"path","required":true,"type":"string"},{"name":"relationship_uuid","in":"path","required":true,"type":"string"}],"tags":["content-proposals-observable-relationships"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"data":"object"}}}}}}},"/v2/inthreat/content-proposals/{uuid}/observable-relationships/{relationship_uuid}/reviewed":{"parameters":[{"name":"uuid","in":"path","required":true,"type":"string"},{"name":"relationship_uuid","in":"path","required":true,"type":"string"}],"post":{"responses":{"200":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/CPWrappedObservableRelationshipSchema"}}}},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"404":{"description":"Unknown content proposal"}},"summary":"Mark observable's relationship as reviewed","description":"The following permissions are required:\n - “Create and edit intelligence content proposals” (`623f27aa-7778-49db-b6fa-9d1e25e2e0b4`)","operationId":"post_content_proposal_relationship_review_resource","parameters":[{"name":"uuid","in":"path","required":true,"type":"string"},{"name":"relationship_uuid","in":"path","required":true,"type":"string"}],"tags":["content-proposals-observable-relationships"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"is_reviewed":"boolean"}}}}}}},"/v2/inthreat/content-proposals/{uuid}/observables":{"parameters":[{"name":"uuid","in":"path","required":true,"type":"string"}],"get":{"responses":{"200":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/CPListOfObservablesSchema"}}}},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"404":{"description":"Unknown content proposal"}},"summary":"List merge proposal observables that have been modified","description":"The following permissions are required:\n - “View intelligence content proposals” (`5f4b1f5b-cab7-49a7-8f95-d897ec262289`)","operationId":"get_content_proposal_observables_resource","parameters":[{"in":"query","name":"limit","required":false,"type":"integer","default":20,"minimum":1,"maximum":100,"description":"limit a number of items (allowed range is 1-100), default is 20."},{"in":"query","name":"offset","required":false,"type":"integer","default":0,"minimum":0,"description":"a number of items to skip, default is 0."},{"name":"uuid","in":"path","required":true,"type":"string"}],"tags":["content-proposals-observables"]},"post":{"responses":{"201":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/CPWrappedObservableSchema"}}}},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"404":{"description":"Unknown content proposal"}},"summary":"Add new observable to content proposal","description":"The following permissions are required:\n - “Create and edit intelligence content proposals” (`623f27aa-7778-49db-b6fa-9d1e25e2e0b4`)","operationId":"post_content_proposal_observables_resource","parameters":[{"name":"uuid","in":"path","required":true,"type":"string"}],"tags":["content-proposals-observables"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"data":"object"}}}}}}},"/v2/inthreat/content-proposals/{uuid}/observables/async-bulk":{"parameters":[{"name":"uuid","in":"path","required":true,"type":"string"}],"post":{"responses":{"202":{"description":"Accepted"},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"}},"summary":"Asynchronously bulk create observables in a content proposal","description":"The following permissions are required:\n - “Create and edit intelligence content proposals” (`623f27aa-7778-49db-b6fa-9d1e25e2e0b4`)","operationId":"post_content_proposals_observables_async_bulk_resource","parameters":[{"name":"uuid","in":"path","required":true,"type":"string"}],"tags":["content-proposals-observables"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"data":"array"}}}}}}},"/v2/inthreat/content-proposals/{uuid}/observables/async-bulk/text":{"parameters":[{"name":"uuid","in":"path","required":true,"type":"string"}],"post":{"responses":{"202":{"description":"Accepted"},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"400":{"description":"Invalid parameters"}},"summary":"Asynchronously bulk create observables in a content proposal","description":"The following permissions are required:\n - “Create and edit intelligence content proposals” (`623f27aa-7778-49db-b6fa-9d1e25e2e0b4`)","operationId":"post_content_proposals_observable_asynchronous_bulk_text_resource","parameters":[{"name":"uuid","in":"path","required":true,"type":"string"}],"tags":["content-proposals-observables"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"data":"object"}}}}}}},"/v2/inthreat/content-proposals/{uuid}/observables/bulk":{"parameters":[{"name":"uuid","in":"path","required":true,"type":"string"}],"delete":{"responses":{"204":{"description":"Success"},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"207":{"description":"MULTI-STATUS"}},"summary":"Bulk remove observables from proposal","description":"The following permissions are required:\n - “Create and edit intelligence content proposals” (`623f27aa-7778-49db-b6fa-9d1e25e2e0b4`)","operationId":"delete_content_proposals_observables_bulk_resource","parameters":[{"name":"uuid","in":"path","required":true,"type":"string"}],"tags":["content-proposals-observables"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"limit":"integer","offset":"integer","match[id]":"string","ids":"array"}}}}}},"post":{"responses":{"201":{"description":"Created"},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"400":{"description":"Invalid parameters"}},"summary":"Bulk create observables in proposal","description":"The following permissions are required:\n - “Create and edit intelligence content proposals” (`623f27aa-7778-49db-b6fa-9d1e25e2e0b4`)","operationId":"post_content_proposals_observables_bulk_resource","parameters":[{"name":"uuid","in":"path","required":true,"type":"string"}],"tags":["content-proposals-observables"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"data":"array"}}}}}}},"/v2/inthreat/content-proposals/{uuid}/observables/bulk/text":{"parameters":[{"name":"uuid","in":"path","required":true,"type":"string"}],"post":{"responses":{"201":{"description":"Created"},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"400":{"description":"Invalid parameters"}},"summary":"Bulk create observables in proposal from text","description":"The text must contain one observable per line.\n\nFor an observable with many hashes, they must be on the same line separated by semicolon (`;`).\n\nThe following permissions are required:\n - “Create and edit intelligence content proposals” (`623f27aa-7778-49db-b6fa-9d1e25e2e0b4`)","operationId":"post_content_proposals_observables_bulk_text_resource","parameters":[{"name":"uuid","in":"path","required":true,"type":"string"}],"tags":["content-proposals-observables"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"data":"object"}}}}}}},"/v2/inthreat/content-proposals/{uuid}/observables/search":{"parameters":[{"name":"uuid","in":"path","required":true,"type":"string"}],"post":{"responses":{"200":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/CPListOfObservablesSchema"}}}},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"400":{"description":"Invalid parameters"}},"summary":"Search observables in content proposal","description":"The following permissions are required:\n - “View intelligence content proposals” (`5f4b1f5b-cab7-49a7-8f95-d897ec262289`)","operationId":"post_object_search_resource","parameters":[{"name":"uuid","in":"path","required":true,"type":"string"}],"tags":["content-proposals-observables"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"limit":"integer","offset":"integer","term":"string","type":"string","fill_with_consolidated":"boolean"}}}}}}},"/v2/inthreat/content-proposals/{uuid}/observables/tags":{"parameters":[{"name":"uuid","in":"path","required":true,"type":"string"}],"delete":{"responses":{"204":{"description":"No Content"},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"}},"summary":"Bulk remove tags from proposal observables","description":"The following permissions are required:\n - “Create and edit intelligence content proposals” (`623f27aa-7778-49db-b6fa-9d1e25e2e0b4`)","operationId":"delete_content_proposals_observables_tag_resource","parameters":[{"name":"uuid","in":"path","required":true,"type":"string"}],"tags":["content-proposals-observables"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"limit":"integer","offset":"integer","match[id]":"string","data":"array","ids":"array"}}}}}},"post":{"responses":{"204":{"description":"No Content"},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"}},"summary":"Bulk add tags to observables in proposal","description":"The following permissions are required:\n - “Create and edit intelligence content proposals” (`623f27aa-7778-49db-b6fa-9d1e25e2e0b4`)","operationId":"post_content_proposals_observables_tag_resource","parameters":[{"name":"uuid","in":"path","required":true,"type":"string"}],"tags":["content-proposals-observables"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"limit":"integer","offset":"integer","match[id]":"string","data":"array","ids":"array"}}}}}}},"/v2/inthreat/content-proposals/{uuid}/observables/{object_uuid}/indicators":{"parameters":[{"name":"uuid","in":"path","required":true,"type":"string"},{"name":"object_uuid","in":"path","required":true,"type":"string"}],"get":{"responses":{"200":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/CPListOfObjectsSchema"}}}},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"404":{"description":"Unknown object"}},"summary":"Retrieve indicators","description":"The following permissions are required:\n - “View intelligence content proposals” (`5f4b1f5b-cab7-49a7-8f95-d897ec262289`)","operationId":"get_content_proposal_object_observables_resource","parameters":[{"in":"query","name":"fill_with_consolidated","required":false,"type":"boolean","default":false},{"name":"uuid","in":"path","required":true,"type":"string"},{"name":"object_uuid","in":"path","required":true,"type":"string"}],"tags":["content-proposals-observables"]}},"/v2/inthreat/content-proposals/{uuid}/observables/{observable_uuid}":{"parameters":[{"name":"uuid","in":"path","required":true,"type":"string"},{"name":"observable_uuid","in":"path","required":true,"type":"string"}],"delete":{"responses":{"204":{"description":"Success"},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"404":{"description":"Unknown observable"}},"summary":"Remove observable changes from the content proposal","description":"The following permissions are required:\n - “Create and edit intelligence content proposals” (`623f27aa-7778-49db-b6fa-9d1e25e2e0b4`)","operationId":"delete_content_proposal_observable_resource","tags":["content-proposals-observables"],"parameters":[{"name":"uuid","in":"path","required":true,"type":"string"},{"name":"observable_uuid","in":"path","required":true,"type":"string"}]},"get":{"responses":{"200":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/CPWrappedObservableSchema"}}}},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"404":{"description":"Unknown object"}},"summary":"Retrieve observable changes","description":"The following permissions are required:\n - “View intelligence content proposals” (`5f4b1f5b-cab7-49a7-8f95-d897ec262289`)","operationId":"get_content_proposal_observable_resource","tags":["content-proposals-observables"],"parameters":[{"name":"uuid","in":"path","required":true,"type":"string"},{"name":"observable_uuid","in":"path","required":true,"type":"string"}]},"patch":{"responses":{"200":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/CPWrappedObservableSchema"}}}},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"404":{"description":"Unknown observable"}},"summary":"Update suggested changes to the observable","description":"The following permissions are required:\n - “Create and edit intelligence content proposals” (`623f27aa-7778-49db-b6fa-9d1e25e2e0b4`)","operationId":"patch_content_proposal_observable_resource","parameters":[{"name":"uuid","in":"path","required":true,"type":"string"},{"name":"observable_uuid","in":"path","required":true,"type":"string"}],"tags":["content-proposals-observables"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"data":"object"}}}}}}},"/v2/inthreat/content-proposals/{uuid}/observables/{observable_uuid}/reviewed":{"parameters":[{"name":"uuid","in":"path","required":true,"type":"string"},{"name":"observable_uuid","in":"path","required":true,"type":"string"}],"post":{"responses":{"200":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/CPWrappedObservableSchema"}}}},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"404":{"description":"Unknown content proposal"}},"summary":"Mark observable as reviewed","description":"The following permissions are required:\n - “Create and edit intelligence content proposals” (`623f27aa-7778-49db-b6fa-9d1e25e2e0b4`)","operationId":"post_content_proposal_observable_review_resource","parameters":[{"name":"uuid","in":"path","required":true,"type":"string"},{"name":"observable_uuid","in":"path","required":true,"type":"string"}],"tags":["content-proposals-observables"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"is_reviewed":"boolean"}}}}}}},"/v2/inthreat/content-proposals/{uuid}/relationships":{"parameters":[{"name":"uuid","in":"path","required":true,"type":"string"}],"get":{"responses":{"200":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/CPListOfRelationshipsSchema"}}}},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"404":{"description":"Unknown content proposal"}},"summary":"List merge proposal relationships that have been modified","description":"The following permissions are required:\n - “View intelligence content proposals” (`5f4b1f5b-cab7-49a7-8f95-d897ec262289`)","operationId":"get_content_proposal_relationships_resource","parameters":[{"in":"query","name":"limit","required":false,"type":"integer","default":20,"minimum":1,"maximum":100,"description":"limit a number of items (allowed range is 1-100), default is 20."},{"in":"query","name":"offset","required":false,"type":"integer","default":0,"minimum":0,"description":"a number of items to skip, default is 0."},{"name":"uuid","in":"path","required":true,"type":"string"}],"tags":["content-proposals-relationships"]},"post":{"responses":{"201":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/CPWrappedRelationshipSchema"}}}},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"404":{"description":"Unknown content proposal"}},"summary":"Add new relationship to content proposal","description":"The following permissions are required:\n - “Create and edit intelligence content proposals” (`623f27aa-7778-49db-b6fa-9d1e25e2e0b4`)","operationId":"post_content_proposal_relationships_resource","parameters":[{"name":"uuid","in":"path","required":true,"type":"string"}],"tags":["content-proposals-relationships"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"data":"object"}}}}}}},"/v2/inthreat/content-proposals/{uuid}/relationships/async-bulk":{"parameters":[{"name":"uuid","in":"path","required":true,"type":"string"}],"post":{"responses":{"202":{"description":"Accepted"},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"}},"summary":"Asynchronously bulk create relationships in a content proposal","description":"The following permissions are required:\n - “Create and edit intelligence content proposals” (`623f27aa-7778-49db-b6fa-9d1e25e2e0b4`)","operationId":"post_content_proposals_relationships_async_bulk_resource","parameters":[{"name":"uuid","in":"path","required":true,"type":"string"}],"tags":["content-proposals-relationships"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"data":"array"}}}}}}},"/v2/inthreat/content-proposals/{uuid}/relationships/bulk":{"parameters":[{"name":"uuid","in":"path","required":true,"type":"string"}],"delete":{"responses":{"204":{"description":"Success"},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"207":{"description":"MULTI-STATUS"}},"summary":"Bulk remove relationships from proposal","description":"The following permissions are required:\n - “Create and edit intelligence content proposals” (`623f27aa-7778-49db-b6fa-9d1e25e2e0b4`)","operationId":"delete_content_proposals_relationships_bulk_resource","parameters":[{"name":"uuid","in":"path","required":true,"type":"string"}],"tags":["content-proposals-relationships"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"limit":"integer","offset":"integer","match[id]":"string"}}}}}},"post":{"responses":{"201":{"description":"Created"},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"400":{"description":"Invalid parameters"}},"summary":"Bulk create relationships in proposal","description":"The following permissions are required:\n - “Create and edit intelligence content proposals” (`623f27aa-7778-49db-b6fa-9d1e25e2e0b4`)","operationId":"post_content_proposals_relationships_bulk_resource","parameters":[{"name":"uuid","in":"path","required":true,"type":"string"}],"tags":["content-proposals-relationships"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"data":"array"}}}}}}},"/v2/inthreat/content-proposals/{uuid}/relationships/{relationship_uuid}":{"parameters":[{"name":"uuid","in":"path","required":true,"type":"string"},{"name":"relationship_uuid","in":"path","required":true,"type":"string"}],"delete":{"responses":{"204":{"description":"Success"},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"404":{"description":"Unknown relationship"}},"summary":"Remove relationship changes from the content proposal","description":"The following permissions are required:\n - “Create and edit intelligence content proposals” (`623f27aa-7778-49db-b6fa-9d1e25e2e0b4`)","operationId":"delete_content_proposal_relationship_resource","tags":["content-proposals-relationships"],"parameters":[{"name":"uuid","in":"path","required":true,"type":"string"},{"name":"relationship_uuid","in":"path","required":true,"type":"string"}]},"get":{"responses":{"200":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/CPWrappedRelationshipSchema"}}}},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"404":{"description":"Unknown object"}},"summary":"Retrieve relationship changes","description":"The following permissions are required:\n - “View intelligence content proposals” (`5f4b1f5b-cab7-49a7-8f95-d897ec262289`)","operationId":"get_content_proposal_relationship_resource","tags":["content-proposals-relationships"],"parameters":[{"name":"uuid","in":"path","required":true,"type":"string"},{"name":"relationship_uuid","in":"path","required":true,"type":"string"}]},"patch":{"responses":{"200":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/CPWrappedRelationshipSchema"}}}},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"404":{"description":"Unknown relationship"}},"summary":"Update suggested changes to the relationship","description":"The following permissions are required:\n - “Create and edit intelligence content proposals” (`623f27aa-7778-49db-b6fa-9d1e25e2e0b4`)","operationId":"patch_content_proposal_relationship_resource","parameters":[{"name":"uuid","in":"path","required":true,"type":"string"},{"name":"relationship_uuid","in":"path","required":true,"type":"string"}],"tags":["content-proposals-relationships"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"data":"object"}}}}}}},"/v2/inthreat/content-proposals/{uuid}/relationships/{relationship_uuid}/reviewed":{"parameters":[{"name":"uuid","in":"path","required":true,"type":"string"},{"name":"relationship_uuid","in":"path","required":true,"type":"string"}],"post":{"responses":{"200":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/CPWrappedRelationshipSchema"}}}},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"404":{"description":"Unknown content proposal"}},"summary":"Mark relationship as reviewed","description":"The following permissions are required:\n - “Create and edit intelligence content proposals” (`623f27aa-7778-49db-b6fa-9d1e25e2e0b4`)","operationId":"post_content_proposal_relationship_review_resource","parameters":[{"name":"uuid","in":"path","required":true,"type":"string"},{"name":"relationship_uuid","in":"path","required":true,"type":"string"}],"tags":["content-proposals-relationships"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"is_reviewed":"boolean"}}}}}}},"/v2/inthreat/content-proposals/{uuid}/reopen":{"parameters":[{"name":"uuid","in":"path","required":true,"type":"string"}],"post":{"responses":{"204":{"description":"Success"},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"404":{"description":"Unknown content proposal"}},"summary":"Reopen a content proposal","description":"The following permissions are required:\n - “Create and edit intelligence content proposals” (`623f27aa-7778-49db-b6fa-9d1e25e2e0b4`)","operationId":"post_reopen_content_proposal_resource","tags":["content-proposals"],"parameters":[{"name":"uuid","in":"path","required":true,"type":"string"}]}},"/v2/inthreat/expiration-rules":{"get":{"responses":{"200":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/ListOfExpirationRulesSchema"}}}},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"}},"summary":"List expiration rules","description":"The following permissions are required:\n - “View intelligence expiration rules” (`506b1320-2c46-4712-83e3-d8a95c685324`)","operationId":"get_expiration_rules_resource","parameters":[{"in":"query","name":"limit","required":false,"type":"integer","default":20,"minimum":1,"maximum":100,"description":"limit a number of items (allowed range is 1-100), default is 20."},{"in":"query","name":"offset","required":false,"type":"integer","default":0,"minimum":0,"description":"a number of items to skip, default is 0."},{"in":"query","name":"type","required":false,"type":"string","enum":["indicator","observable_tag"]}],"tags":["Expiration Rules"]},"post":{"responses":{"201":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/WrappedExpirationRuleSchema"}}}},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"400":{"description":"Invalid parameters"},"404":{"description":"Unknown object"}},"summary":"Create a new expiration rule","description":"The following permissions are required:\n - “Manage intelligence expiration rules” (`ad10236c-d732-4690-98b3-1bde06b4bca1`)","operationId":"post_expiration_rules_resource","parameters":[],"tags":["Expiration Rules"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"data":"object"}}}}}}},"/v2/inthreat/expiration-rules/{uuid}":{"parameters":[{"name":"uuid","in":"path","required":true,"type":"string"}],"delete":{"responses":{"204":{"description":"No content"},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"404":{"description":"Unknown object"}},"summary":"Remove an expiration rule","description":"The following permissions are required:\n - “Manage intelligence expiration rules” (`ad10236c-d732-4690-98b3-1bde06b4bca1`)","operationId":"delete_expiration_rule_resource","tags":["Expiration Rules"],"parameters":[{"name":"uuid","in":"path","required":true,"type":"string"}]},"get":{"responses":{"200":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/WrappedExpirationRuleSchema"}}}},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"404":{"description":"Unknown object"}},"summary":"Get an expiration rule","description":"The following permissions are required:\n - “View intelligence expiration rules” (`506b1320-2c46-4712-83e3-d8a95c685324`)","operationId":"get_expiration_rule_resource","tags":["Expiration Rules"],"parameters":[{"name":"uuid","in":"path","required":true,"type":"string"}]},"put":{"responses":{"200":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/WrappedExpirationRuleSchema"}}}},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"400":{"description":"Invalid parameters"},"404":{"description":"Unknown object"}},"summary":"Update an expiration rule","description":"The following permissions are required:\n - “Manage intelligence expiration rules” (`ad10236c-d732-4690-98b3-1bde06b4bca1`)","operationId":"put_expiration_rule_resource","parameters":[{"name":"uuid","in":"path","required":true,"type":"string"}],"tags":["Expiration Rules"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"data":"object"}}}}}}},"/v2/inthreat/exports/":{"post":{"responses":{"202":{"description":"Accepted","content":{"application.json":{"schema":{"$ref":"#/components/schemas/WrappedExportJobSchema"}}}},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"}},"summary":"Creates an export job","description":"It will generate a file with all the related objects in the specified format.\nIt is possible to optionally restrict the related objects\nto only the ones linked by some specific types of relationships\n\nThe following permissions are required:\n - “View intelligence” (`8d9901dc-0508-4472-b3c1-5ad5efc96032`)","operationId":"post_export_resource","parameters":[],"tags":["Exports"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"object_id":"string","relationship_types":"array","categories":"array","format":"string"}}}}}}},"/v2/inthreat/exports/{job_id}":{"parameters":[{"name":"job_id","in":"path","required":true,"type":"string"}],"get":{"responses":{"200":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/WrappedExportJobSchema"}}}},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"}},"summary":"Retrieve an export job","description":"It allows to get the details of a job and its status.\n\nThe following permissions are required:\n - “View intelligence” (`8d9901dc-0508-4472-b3c1-5ad5efc96032`)","operationId":"get_export_job_details_resource","tags":["Exports"],"parameters":[{"name":"job_id","in":"path","required":true,"type":"string"}]}},"/v2/inthreat/exports/{job_id}/file":{"parameters":[{"name":"job_id","in":"path","required":true,"type":"string"}],"get":{"responses":{"200":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/WrappedExportJobSchema"}}}},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"}},"summary":"Retrieve an export job file","description":"The job must be with the status \"FINISHED\" in order to be able to retrieve the file\n\nThe following permissions are required:\n - “View intelligence” (`8d9901dc-0508-4472-b3c1-5ad5efc96032`)","operationId":"get_export_job_file_resource","tags":["Exports"],"parameters":[{"name":"job_id","in":"path","required":true,"type":"string"}]}},"/v2/inthreat/feeds":{"get":{"responses":{"200":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/ListOfFeedsSchema"}}}},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"}},"summary":"List the existing feeds","description":"The following permissions are required:\n - “View feeds” (`b30103ab-408d-4ccf-86c9-3d9a820c97d9`)","operationId":"get_feeds_resource","parameters":[{"in":"query","name":"limit","required":false,"type":"integer","default":20,"minimum":1,"maximum":100,"description":"limit a number of items (allowed range is 1-100), default is 20."},{"in":"query","name":"offset","required":false,"type":"integer","default":0,"minimum":0,"description":"a number of items to skip, default is 0."},{"in":"query","name":"term","required":false,"type":"string","description":"Term the feed title should contain"},{"in":"query","name":"match[id]","required":false,"type":"string","description":"Filter feeds by their id"}],"tags":["Outgoing Feeds"]},"post":{"responses":{"201":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/WrappedFeedSchema"}}}},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"400":{"description":"Invalid parameters"},"404":{"description":"Unknown object"}},"summary":"Create a new feed","description":"The following permissions are required:\n - “Manage feeds” (`a24140c3-8088-4120-aaf1-6df0f893e700`)","operationId":"post_feeds_resource","parameters":[],"tags":["Outgoing Feeds"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"data":"object"}}}}}}},"/v2/inthreat/feeds/{uuid}":{"parameters":[{"name":"uuid","in":"path","required":true,"type":"string"}],"delete":{"responses":{"204":{"description":"No content"},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"404":{"description":"Unknown object"}},"summary":"Remove a feed","description":"The following permissions are required:\n - “Manage feeds” (`a24140c3-8088-4120-aaf1-6df0f893e700`)","operationId":"delete_warning_rule_resource","tags":["Outgoing Feeds"],"parameters":[{"name":"uuid","in":"path","required":true,"type":"string"}]},"get":{"responses":{"200":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/WrappedFeedSchema"}}}},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"404":{"description":"Unknown object"}},"summary":"Retrieve a feed","description":"The following permissions are required:\n - “View feeds” (`b30103ab-408d-4ccf-86c9-3d9a820c97d9`)","operationId":"get_warning_rule_resource","tags":["Outgoing Feeds"],"parameters":[{"name":"uuid","in":"path","required":true,"type":"string"}]},"put":{"responses":{"200":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/WrappedFeedSchema"}}}},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"400":{"description":"Invalid parameters"},"404":{"description":"Unknown object"}},"summary":"Update a feed","description":"The following permissions are required:\n - “Manage feeds” (`a24140c3-8088-4120-aaf1-6df0f893e700`)","operationId":"put_warning_rule_resource","parameters":[{"name":"uuid","in":"path","required":true,"type":"string"}],"tags":["Outgoing Feeds"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"data":"object"}}}}}}},"/v2/inthreat/images/":{"post":{"responses":{"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"}},"summary":"Upload an image","description":"The following permissions are required:\n - “Manage intelligence objects” (`33ea2a27-26ee-434e-a072-f064617f9f6d`)","operationId":"post_upload_image_resource","parameters":[],"tags":["Images"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"file":"file"}}}}}}},"/v2/inthreat/images/{name}":{"parameters":[{"name":"name","in":"path","required":true,"type":"string"}],"get":{"responses":{"200":{"description":"Success"}},"summary":"Retrieve an image","description":"Retrieves an image given its path","operationId":"get_get_image_resource","tags":["Images"],"parameters":[{"name":"name","in":"path","required":true,"type":"string"}]}},"/v2/inthreat/indicators":{"get":{"responses":{"200":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/ListOfSTIXObjectsSchema"}}}},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"}},"summary":"Search indicators","description":"The following permissions are required:\n - “View intelligence” (`8d9901dc-0508-4472-b3c1-5ad5efc96032`)","operationId":"get_find_indicator_resource","parameters":[{"in":"query","name":"value","required":true,"type":"string","description":"Value of the indicator"},{"in":"query","name":"type","required":true,"type":"string","enum":["software","email-addr","url","phone-number","windows-registry-key","organization","x509-certificate","mutex","individual","directory","ipv6-addr","domain-name","autonomous-system","email-message","ipv4-addr","artifact","filename","file","user-account","process","observable-relationship","text","address","mac-addr"],"description":"Type of the indicator"}],"tags":["Indicators","STIX"]}},"/v2/inthreat/indicators/context":{"get":{"responses":{"200":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/ContextsSchema"}}}},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"}},"summary":"Get indicators context","description":"Get context around the indicators matching the given value.\nThe context bundles are limited to at most 100 related objects.\n\nThe following permissions are required:\n - “View intelligence” (`8d9901dc-0508-4472-b3c1-5ad5efc96032`)","operationId":"get_indicator_context_resource","parameters":[{"in":"query","name":"value","required":true,"type":"string","description":"Value of the indicator"},{"in":"query","name":"type","required":true,"type":"string","enum":["software","email-addr","url","phone-number","windows-registry-key","organization","x509-certificate","mutex","individual","directory","ipv6-addr","domain-name","autonomous-system","email-message","ipv4-addr","artifact","filename","file","user-account","process","observable-relationship","text","address","mac-addr"],"description":"Type of the indicator"}],"tags":["Indicators","STIX"]}},"/v2/inthreat/indicators/indicates-relationships":{"post":{"responses":{"200":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/BundleSchema"}}}},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"}},"summary":"Retrieve \"indicates\" relationships","description":"Retrieve the \"indicates\" relationships and the related objects for the given indicators\n\nThe following permissions are required:\n - “View intelligence” (`8d9901dc-0508-4472-b3c1-5ad5efc96032`)","operationId":"post_indicator_relationships_resource","parameters":[],"tags":["Indicators","STIX"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"ids":"array"}}}}}}},"/v2/inthreat/ioc-collections":{"get":{"responses":{"200":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/ListOfCollectionsSchema"}}}},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"}},"summary":"List the existing IOC collections","description":"The following permissions are required:\n - “View IOC collections” (`f25ba7f4-a9e6-4fc7-9cd8-23dce9d95575`)","operationId":"get_ioc_collections_resource","parameters":[{"in":"query","name":"limit","required":false,"type":"integer","default":20,"minimum":1,"maximum":100,"description":"limit a number of items (allowed range is 1-100), default is 20."},{"in":"query","name":"offset","required":false,"type":"integer","default":0,"minimum":0,"description":"a number of items to skip, default is 0."},{"in":"query","name":"term","required":false,"type":"string","description":"Term the IOC collection name should contain"},{"in":"query","name":"match[community_uuid]","required":false,"type":"string","description":"Communities to match (separated by commas)."},{"in":"query","name":"with_indicators_count","required":false,"type":"boolean","default":false}],"tags":["IOC Collections"]},"post":{"responses":{"201":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/CollectionSchema"}}}},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"400":{"description":"Invalid parameters"},"404":{"description":"Unknown object"}},"summary":"Create a new IOC collection","description":"The following permissions are required:\n - “Manage IOC collections” (`fd269946-8106-452c-abe2-8b8b88b883c3`)","operationId":"post_ioc_collections_resource","parameters":[],"tags":["IOC Collections"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"id":"string","name":"string","description":"string","community_uuid":"string","available_for_sub_communities":"boolean"}}}}}}},"/v2/inthreat/ioc-collections/count-total-iocs":{"get":{"responses":{"200":{"description":"Request fulfilled, document follows","content":{"application.json":{"schema":{"$ref":"#/components/schemas/CountTotalIocsSchema"}}}},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"}},"summary":"Count indicators in a community","description":"Get the total number of indicators in community\n\nThe following permissions are required:\n - “View IOC collections” (`f25ba7f4-a9e6-4fc7-9cd8-23dce9d95575`)","operationId":"get_community_total_ioc_resource","parameters":[{"in":"query","name":"match[community_uuid]","required":false,"type":"string","description":"Communities to match (separated by commas)."},{"in":"query","name":"community_uuid","required":false,"type":"string","default":null,"x-nullable":true}],"tags":["IOC Collections"]}},"/v2/inthreat/ioc-collections/telemetry/reports/{report_id}":{"parameters":[{"name":"report_id","in":"path","required":true,"type":"string"}],"get":{"responses":{"200":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/ListOfSightedObjectsSchema"}}}},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"}},"summary":"Get an existing telemetry report","description":"The following permissions are required:\n - “View IOC collections telemetry” (`16bbb444-40c6-48cc-a16e-c43ce7e75ce8`)","operationId":"get_collection_telemetry_report_resource","parameters":[{"in":"query","name":"limit","required":false,"type":"integer","default":20,"minimum":1,"maximum":100,"description":"limit a number of items (allowed range is 1-100), default is 20."},{"in":"query","name":"offset","required":false,"type":"integer","default":0,"minimum":0,"description":"a number of items to skip, default is 0."},{"name":"report_id","in":"path","required":true,"type":"string"}],"tags":["IOC Collections"]}},"/v2/inthreat/ioc-collections/{collection_id}/indicators/{indicator_id}":{"parameters":[{"name":"collection_id","in":"path","required":true,"type":"string"},{"name":"indicator_id","in":"path","required":true,"type":"string"}],"delete":{"responses":{"200":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/IndicatorSchema"}}}},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"404":{"description":"Unknown collection or indicator"}},"summary":"Revoke an indicator by default","description":"When `force_deletion=true`, permanently delete the indicator instead.\nNote that force deleting an indicator only works for the ones that have been revoked for at least 24 hours.\n\nThe following permissions are required:\n - “Manage IOC collections” (`fd269946-8106-452c-abe2-8b8b88b883c3`)","operationId":"delete_collection_indicator_resource","parameters":[{"name":"collection_id","in":"path","required":true,"type":"string"},{"name":"indicator_id","in":"path","required":true,"type":"string"}],"tags":["IOC Collections"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"force_deletion":"boolean"}}}}}},"put":{"responses":{"200":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/IndicatorSchema"}}}},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"400":{"description":"Invalid parameters"},"404":{"description":"Unknown collection or indicator"}},"summary":"Update an object","description":"The following permissions are required:\n - “Manage IOC collections” (`fd269946-8106-452c-abe2-8b8b88b883c3`)","operationId":"put_collection_indicator_resource","parameters":[{"name":"collection_id","in":"path","required":true,"type":"string"},{"name":"indicator_id","in":"path","required":true,"type":"string"}],"tags":["IOC Collections"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"description":"string","valid_from":"string","valid_until":"string","kill_chain_phases":"array","x_ic_related_threat_refs":"array"}}}}}}},"/v2/inthreat/ioc-collections/{collection_id}/indicators/{indicator_id}/context":{"parameters":[{"name":"collection_id","in":"path","required":true,"type":"string"},{"name":"indicator_id","in":"path","required":true,"type":"string"}],"get":{"responses":{"200":{"description":"Request fulfilled, document follows","content":{"application.json":{"schema":{"$ref":"#/components/schemas/BundleSchema"}}}},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"}},"summary":"Retrieve an IOC's context","description":"The context bundle is limited to at most 100 related objects.\n\nThe following permissions are required:\n - “View intelligence” (`8d9901dc-0508-4472-b3c1-5ad5efc96032`)\n - “View IOC collections” (`f25ba7f4-a9e6-4fc7-9cd8-23dce9d95575`)","operationId":"get_collection_indicator_context_resource","tags":["IOC Collections"],"parameters":[{"name":"collection_id","in":"path","required":true,"type":"string"},{"name":"indicator_id","in":"path","required":true,"type":"string"}]}},"/v2/inthreat/ioc-collections/{uuid}":{"parameters":[{"name":"uuid","in":"path","required":true,"type":"string"}],"delete":{"responses":{"204":{"description":"No content"},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"404":{"description":"Unknown object"}},"summary":"Remove the given IOC collection","description":"The following permissions are required:\n - “Manage IOC collections” (`fd269946-8106-452c-abe2-8b8b88b883c3`)","operationId":"delete_ioc_collection_resource","tags":["IOC Collections"],"parameters":[{"name":"uuid","in":"path","required":true,"type":"string"}]},"get":{"responses":{"200":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/CollectionSchema"}}}},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"404":{"description":"Unknown object"}},"summary":"Get an IOC collection","description":"The following permissions are required:\n - “View IOC collections” (`f25ba7f4-a9e6-4fc7-9cd8-23dce9d95575`)","operationId":"get_ioc_collection_resource","tags":["IOC Collections"],"parameters":[{"name":"uuid","in":"path","required":true,"type":"string"}]},"patch":{"responses":{"200":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/CollectionSchema"}}}},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"400":{"description":"Invalid parameters"},"404":{"description":"Unknown object"}},"summary":"Update an IOC collection","description":"The following permissions are required:\n - “Manage IOC collections” (`fd269946-8106-452c-abe2-8b8b88b883c3`)","operationId":"patch_ioc_collection_resource","parameters":[{"name":"uuid","in":"path","required":true,"type":"string"}],"tags":["IOC Collections"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"id":"string","name":"string","description":"string","available_for_sub_communities":"boolean"}}}}}}},"/v2/inthreat/ioc-collections/{uuid}/indicators":{"parameters":[{"name":"uuid","in":"path","required":true,"type":"string"}],"get":{"responses":{"200":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/ListOfSTIXObjectsSchema"}}}},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"}},"summary":"List indicators in the given IOC collection","description":"The following permissions are required:\n - “View IOC collections” (`f25ba7f4-a9e6-4fc7-9cd8-23dce9d95575`)","operationId":"get_collection_indicators_resource","parameters":[{"in":"query","name":"limit","required":false,"type":"integer","default":20,"minimum":1,"maximum":100,"description":"limit a number of items (allowed range is 1-100), default is 20."},{"in":"query","name":"offset","required":false,"type":"integer","default":0,"minimum":0,"description":"a number of items to skip, default is 0."},{"in":"query","name":"term","required":false,"type":"string","description":"Term the indicator pattern should contain"},{"name":"uuid","in":"path","required":true,"type":"string"}],"tags":["IOC Collections"]},"post":{"responses":{"200":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/ListOfSTIXObjectsSchema"}}}},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"}},"summary":"Create indicators in the given IOC collection","description":"The following permissions are required:\n - “Manage IOC collections” (`fd269946-8106-452c-abe2-8b8b88b883c3`)","operationId":"post_collection_indicators_resource","parameters":[{"name":"uuid","in":"path","required":true,"type":"string"}],"tags":["IOC Collections"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"indicators":"array","default_fields":"object"}}}}}}},"/v2/inthreat/ioc-collections/{uuid}/indicators/files/preview":{"parameters":[{"name":"uuid","in":"path","required":true,"type":"string"}],"post":{"responses":{"200":{"description":"OK"},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"400":{"description":"Invalid parameters"}},"summary":"Upload and preview and indicator's file","description":"Uploads the given file and returns a preview of it\n\nThe following permissions are required:\n - “Manage IOC collections” (`fd269946-8106-452c-abe2-8b8b88b883c3`)","operationId":"post_collection_indicators_files_preview_resource","parameters":[{"name":"uuid","in":"path","required":true,"type":"string"}],"tags":["IOC Collections"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"file":"file"}}}}}}},"/v2/inthreat/ioc-collections/{uuid}/indicators/files/process":{"parameters":[{"name":"uuid","in":"path","required":true,"type":"string"}],"post":{"responses":{"202":{"description":"Accepted"},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"400":{"description":"Invalid parameters"},"404":{"description":"File not found"}},"summary":"Process previously uploaded file","description":"The following permissions are required:\n - “Manage IOC collections” (`fd269946-8106-452c-abe2-8b8b88b883c3`)","operationId":"post_collection_indicators_files_process_resource","parameters":[{"name":"uuid","in":"path","required":true,"type":"string"}],"tags":["IOC Collections"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"description":"string","valid_from":"string","valid_until":"string","kill_chain_phases":"array","x_ic_related_threat_refs":"array","file_handle":"string","mapping":"array","ignore_first_line":"boolean"}}}}}}},"/v2/inthreat/ioc-collections/{uuid}/indicators/pdf":{"parameters":[{"name":"uuid","in":"path","required":true,"type":"string"}],"get":{"responses":{"200":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/BulkTaskIdSchema"}}}},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"202":{"description":"Accepted"},"400":{"description":"Invalid parameters"}},"summary":"Extract IOCs from pdf file","description":"The following permissions are required:\n - “View IOC collections” (`f25ba7f4-a9e6-4fc7-9cd8-23dce9d95575`)","operationId":"get_collection_indicators_pdf_resource","parameters":[{"in":"query","name":"file","required":true,"type":"file"},{"in":"query","name":"report_name","required":false,"type":"string"},{"name":"uuid","in":"path","required":true,"type":"string"}],"tags":["IOC Collections"]}},"/v2/inthreat/ioc-collections/{uuid}/indicators/text":{"parameters":[{"name":"uuid","in":"path","required":true,"type":"string"}],"post":{"responses":{"202":{"description":"Accepted"},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"400":{"description":"Invalid parameters"}},"summary":"Bulk create indicators","description":"Asynchronously bulk create indicators in the given IOC collection\n\nThe following permissions are required:\n - “Manage IOC collections” (`fd269946-8106-452c-abe2-8b8b88b883c3`)","operationId":"post_collection_indicators_text_resource","parameters":[{"name":"uuid","in":"path","required":true,"type":"string"}],"tags":["IOC Collections"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"description":"string","valid_from":"string","valid_until":"string","kill_chain_phases":"array","x_ic_related_threat_refs":"array","indicators":"string","format":"string"}}}}}}},"/v2/inthreat/ioc-collections/{uuid}/telemetry/reports":{"parameters":[{"name":"uuid","in":"path","required":true,"type":"string"}],"post":{"responses":{"202":{"description":"Accepted"},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"400":{"description":"Invalid parameters"},"404":{"description":"Collection not found"}},"summary":"Generate telemetry report","description":"Triggers the generation of a new telemetry report for the given IOC collection\n\nThe following permissions are required:\n - “View IOC collections telemetry” (`16bbb444-40c6-48cc-a16e-c43ce7e75ce8`)","operationId":"post_collection_telemetry_reports_resource","parameters":[{"name":"uuid","in":"path","required":true,"type":"string"}],"tags":["IOC Collections"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"community_uuids":"array"}}}}}}},"/v2/inthreat/kill-chains":{"get":{"responses":{"200":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/ListOfKillChainsSchema"}}}},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"}},"summary":"List kill chains","description":"The following permissions are required:\n - “View intelligence” (`8d9901dc-0508-4472-b3c1-5ad5efc96032`)\n - “View intelligence with limited access” (`d17628ff-75ab-43c2-9e19-45a915c3ddd7`)","operationId":"get_kill_chains_resource","tags":["Kill Chains"]}},"/v2/inthreat/kill-chains/{uuid}":{"parameters":[{"name":"uuid","in":"path","required":true,"type":"string"}],"get":{"responses":{"200":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/WrappedKillChainItemSchema"}}}},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"404":{"description":"Unknown object"}},"summary":"Retrieve a specific kill chain","description":"The following permissions are required:\n - “View intelligence” (`8d9901dc-0508-4472-b3c1-5ad5efc96032`)\n - “View intelligence with limited access” (`d17628ff-75ab-43c2-9e19-45a915c3ddd7`)","operationId":"get_kill_chain_resource","tags":["Kill Chains"],"parameters":[{"name":"uuid","in":"path","required":true,"type":"string"}]}},"/v2/inthreat/labels":{"get":{"responses":{"200":{"description":"success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/ListOfLabelsSchema"}}}},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"}},"summary":"List all labels","description":"The following permissions are required:\n - “View labels” (`6a0d0420-654b-41b8-90c7-8522b83a16a7`)","operationId":"get_labels_resource","parameters":[{"in":"query","name":"limit","required":false,"type":"integer","default":20,"minimum":1,"maximum":100,"description":"limit a number of items (allowed range is 1-100), default is 20."},{"in":"query","name":"offset","required":false,"type":"integer","default":0,"minimum":0,"description":"a number of items to skip, default is 0."}],"tags":["Labels"]},"post":{"responses":{"201":{"description":"success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/LabelSchema"}}}},"400":{"description":"Invalid Parameters"},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"}},"summary":"Create a new label","description":"The following permissions are required:\n - “Manage intelligence labels” (`baef99e2-4b96-48af-b1a3-658ead421d7f`)","operationId":"post_labels_resource","parameters":[],"tags":["Labels"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":"string","values":"array"}}}}}}},"/v2/inthreat/labels/{uuid}":{"parameters":[{"name":"uuid","in":"path","required":true,"type":"string"}],"delete":{"responses":{"204":{"description":"No content"},"404":{"description":"Unknown label"},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"}},"summary":"Delete a label","description":"The following permissions are required:\n - “Manage intelligence labels” (`baef99e2-4b96-48af-b1a3-658ead421d7f`)","operationId":"delete_label_resource","tags":["Labels"],"parameters":[{"name":"uuid","in":"path","required":true,"type":"string"}]},"get":{"responses":{"200":{"description":"success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/LabelSchema"}}}},"404":{"description":"Unknown Label"},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"}},"summary":"Retrieve a label","description":"The following permissions are required:\n - “View labels” (`6a0d0420-654b-41b8-90c7-8522b83a16a7`)","operationId":"get_label_resource","tags":["Labels"],"parameters":[{"name":"uuid","in":"path","required":true,"type":"string"}]},"put":{"responses":{"200":{"description":"success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/LabelSchema"}}}},"400":{"description":"Invalid parameters"},"404":{"description":"Unknown label"},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"}},"summary":"Update a label","description":"The following permissions are required:\n - “Manage intelligence labels” (`baef99e2-4b96-48af-b1a3-658ead421d7f`)","operationId":"put_label_resource","parameters":[{"name":"uuid","in":"path","required":true,"type":"string"}],"tags":["Labels"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"group_name":"string","old_label":"object","new_label":"object","is_label_deleted":"boolean"}}}}}}},"/v2/inthreat/labels/{uuid}/add-label":{"parameters":[{"name":"uuid","in":"path","required":true,"type":"string"}],"put":{"responses":{"200":{"description":"success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/LabelSchema"}}}},"404":{"description":"Unknown Label"},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"}},"summary":"Add a new label value to group","description":"The following permissions are required:\n - “Manage intelligence labels” (`baef99e2-4b96-48af-b1a3-658ead421d7f`)","operationId":"put_add_label_to_group_resource","parameters":[{"name":"uuid","in":"path","required":true,"type":"string"}],"tags":["Labels"],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"data":"object"}}}}}}},"/v2/inthreat/misp/{name}":{"parameters":[{"name":"name","in":"path","required":true,"type":"string"}],"get":{"responses":{"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"}},"summary":"Download a MISP file","description":"Get the given MISP file, following the standard MISP feed layout.\nSee https://www.misp-project.org/documentation/ for more information.\n\nThe following permissions are required:\n - “View intelligence” (`8d9901dc-0508-4472-b3c1-5ad5efc96032`)","operationId":"get_get_misp_file_resource","tags":["MISP"],"parameters":[{"name":"name","in":"path","required":true,"type":"string"}]}},"/v2/inthreat/objects":{"get":{"responses":{"200":{"description":"Success","content":{"application.json":{"schema":{"$ref":"#/components/schemas/ListOfSTIXObjectsSchema"}}}},"401":{"description":"Authentication failed"},"403":{"description":"Insufficient permissions"},"400":{"description":"Invalid parameters"}},"summary":"List objects"
[...]
