{
    "openapi": "3.1.0",
    "info": {
        "title": "VMRay Platform REST API",
        "description": "\nYou can use this interface to execute REST API requests directly.\n\n1. Obtain your **VMRay Platform API key**. See documentation `API Programmer Guide > Creating API Calls`.\n2. Click the **Authorize** button.\n3. Enter the value in the format: `api_key <VMRAY_API_KEY>`\n4. Click **Authorize** again to confirm.\n\nAfter authorization, you can send requests to the VMRay Platform through this API client.\n",
        "version": "2026.2.1"
    },
    "servers": [
        {
            "url": "https://us.cloud.vmray.com/rest"
        }
    ],
    "paths": {
        "/analysis/{analysis_id}/archive": {
            "get": {
                "tags": [
                    "Analyses"
                ],
                "summary": "Get Analysis Archive",
                "description": "Retrieve the Analysis Archive of a given analysis. You can either specify the Analysis ID or the Job ID of\n the analysis. The latter can be used to save an additional API request if the Analysis ID is not known but\n the job ID is.\n \n\n\n The Analysis Archive that is returned is a standard ZIP file. It is possible to retrieve one or more\n individual files instead of the full archive using the **filename** and **filenames** parameters.\n Wildcards (* and ?) are supported when using the **filenames** parameter. For example, you could\n retrieve all extracted files in the archive (extracted_files/*).\n \n\n\n Retrieving all screenshot files in the archive can be done in the same way, by using the **filenames**\n parameter and passing screenshots/*.\n However, screenshots can also be downloaded directly using the **filename** parameter set to just\n 'screenshots'. Part of screenshot files is 'index.log', which contains meta information about available\n screenshots in the following format:\n '{timedelta} | {size} | md5={md5},sha1={sha1},sha256={sha256} | {screenshot_filename}'.\n \n\n\n Ensure that you encode slashes correctly. The **filenames** parameter allows the return of a\n filtered archive that only holds certain files. File names must be separated using commas.\n The archive might be password-protected depending on the user settings.\n Check the Console or the API for the password.\n \n\n\n \nℹ️ \n Note that downloading the screenshots is possible even if the Analysis Report is locked in the Console.\n \n\n\n\n**Examples**\n\nRetrieve the full ZIP Archive of Analysis ID **123**:\n```bash\ncurl -X 'GET' \\\n    'https://<YOUR_HOSTNAME_HERE>/rest/analysis/123/archive' \\\n    -H 'Authorization: api_key <YOUR_APIKEY_HERE>' \\\n    > analysis.zip\n```\nRetrieve the full ZIP Archive of Analysis ID **123** encrypted with a password:\n```bash\ncurl -X 'GET' \\\n    'https://<YOUR_HOSTNAME_HERE>/rest/analysis/123/archive?encryption_password=L8XYM9eJhCWkoMBkmLkH' \\\n    -H 'Authorization: api_key <YOUR_APIKEY_HERE>' \\\n    > analysis.zip\n```\nRetrieve only the **flog.xml** file of Analysis ID **123** (this does not return a ZIP file but the XML file itself):\n```bash\ncurl -X 'GET' \\\n    'https://<YOUR_HOSTNAME_HERE>/rest/analysis/123/archive/logs%2fflog.xml' \\\n    -H 'Authorization: api_key <YOUR_APIKEY_HERE>' \\\n    > flog.xml\n```\nRetrieve only the **stix-report-2-1.json** file of Analysis ID **123** (this does not return a ZIP file but the JSON file itself):\n```bash\ncurl -X 'GET' \\\n    'https://<YOUR_HOSTNAME_HERE>/rest/analysis/123/archive/report%2fstix-report-2-1.json' \\\n    -H 'Authorization: api_key <YOUR_APIKEY_HERE>' \\\n    > stix-report-2-1.json\n```\nReturn the ZIP archive with only **worker.log** and **post_process.log**:\n```bash\ncurl -X 'GET' \\\n    'https://<YOUR_HOSTNAME_HERE>/rest/analysis/123/archive?filenames=logs%2Fworker.log%2Clogs%2Fpost_process.log' \\\n    -H 'Authorization: api_key <YOUR_APIKEY_HERE>' \\\n    > analysis.zip\n```\nReturn the ZIP archive with only the **extracted_files**:\n```bash\ncurl -X 'GET' \\\n    'https://<YOUR_HOSTNAME_HERE>/rest/analysis/123/archive?filenames=extracted_files%2F%2A' \\\n    -H 'Authorization: api_key <YOUR_APIKEY_HERE>' \\\n    > analysis.zip\n```\nReturn the ZIP archive with all IOCs in CSV format:\n```bash\ncurl -X 'GET' \\\n    'https://<YOUR_HOSTNAME_HERE>/rest/analysis/123/archive?filenames=report%2Fartifacts%2F%2Aiocs.csv' \\\n    -H 'Authorization: api_key <YOUR_APIKEY_HERE>' \\\n    > analysis.zip\n```\nReturn the ZIP archive with all artifacts in CSV format:\n```bash\ncurl -X 'GET' \\\n    'https://<YOUR_HOSTNAME_HERE>/rest/analysis/123/archive?filenames=report%2Fartifacts%2F%2Aartifacts.csv' \\\n    -H 'Authorization: api_key <YOUR_APIKEY_HERE>' \\\n    > analysis.zip\n```\nReturn all IOCs in CSV format:\n```bash\ncurl -X 'GET' \\\n    'https://<YOUR_HOSTNAME_HERE>/rest/analysis/123/archive?filename=report%2Fartifacts%2Fall_iocs.csv' \\\n    -H 'Authorization: api_key <YOUR_APIKEY_HERE>' \\\n    > all_iocs.csv\n```\nReturn all artifacts in CSV format:\n```bash\ncurl -X 'GET' \\\n    'https://<YOUR_HOSTNAME_HERE>/rest/analysis/123/archive?filename=report%2Fartifacts%2Fall_artifacts.csv' \\\n    -H 'Authorization: api_key <YOUR_APIKEY_HERE>' \\\n    > all_artifacts.csv\n```\nReturn the ZIP archive with only the **screenshots/**:\n```bash\ncurl -X 'GET' \\\n    'https://<YOUR_HOSTNAME_HERE>/rest/analysis/123/archive?filename=screenshots' \\\n    -H 'Authorization: api_key <YOUR_APIKEY_HERE>' \\\n    > screenshots.zip\n```\nDownload only individual screenshots for a specific analysis:\n```bash\ncurl -X 'GET' \\\n    'https://<YOUR_HOSTNAME_HERE>/rest/analysis/123/archive?filename=screenshots%2F7200a1be57f96d7110f6b7beb306bf869b4be729.png' \\\n    -H 'Authorization: api_key <YOUR_APIKEY_HERE>' \\\n    > 7200a1be57f96d7110f6b7beb306bf869b4be729.png\n```\nDownload only individual screenshots for a specific analysis and the index.log. The index.log holds meta information about the screenshot files. Also it shows the order in which screenshots were taken:\n```bash\ncurl -X 'GET' \\\n    'https://<YOUR_HOSTNAME_HERE>/rest/analysis/123/archive?filenames=screenshots%2F7200a1be57f96d7110f6b7beb306bf869b4be729.png%2Cscreenshots%2Findex.log' \\\n    -H 'Authorization: api_key <YOUR_APIKEY_HERE>' \\\n    > screenshots.zip\n```\n",
                "parameters": [
                    {
                        "required": true,
                        "deprecated": false,
                        "schema": {
                            "type": "integer",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_id",
                        "in": "path",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "encryption_password",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "filename",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "filenames",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "integer",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "job_id",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Analysis File",
                        "content": {
                            "application/octet-stream": {
                                "schema": {
                                    "type": "string",
                                    "format": "binary"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Item not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "security": [
                    {
                        "apiKey": [
                            "apiKey"
                        ]
                    }
                ]
            }
        },
        "/analysis/{analysis_id}/archive/{filename}": {
            "get": {
                "tags": [
                    "Analyses"
                ],
                "summary": "Get Analysis Archive",
                "description": "Retrieve the Analysis Archive of a given analysis. You can either specify the Analysis ID or the Job ID of\n the analysis. The latter can be used to save an additional API request if the Analysis ID is not known but\n the job ID is.\n \n\n\n The Analysis Archive that is returned is a standard ZIP file. It is possible to retrieve one or more\n individual files instead of the full archive using the **filename** and **filenames** parameters.\n Wildcards (* and ?) are supported when using the **filenames** parameter. For example, you could\n retrieve all extracted files in the archive (extracted_files/*).\n \n\n\n Retrieving all screenshot files in the archive can be done in the same way, by using the **filenames**\n parameter and passing screenshots/*.\n However, screenshots can also be downloaded directly using the **filename** parameter set to just\n 'screenshots'. Part of screenshot files is 'index.log', which contains meta information about available\n screenshots in the following format:\n '{timedelta} | {size} | md5={md5},sha1={sha1},sha256={sha256} | {screenshot_filename}'.\n \n\n\n Ensure that you encode slashes correctly. The **filenames** parameter allows the return of a\n filtered archive that only holds certain files. File names must be separated using commas.\n The archive might be password-protected depending on the user settings.\n Check the Console or the API for the password.\n \n\n\n \nℹ️ \n Note that downloading the screenshots is possible even if the Analysis Report is locked in the Console.\n \n\n\n\n**Examples**\n\nReturn only the *flog.xml* file of Analysis ID **123** (this does not return a ZIP file but the XML file itself):\n```bash\ncurl -X 'GET' \\\n    'https://<YOUR_HOSTNAME_HERE>/rest/analysis/123/archive/logs%2fflog.xml' \\\n    -H 'Authorization: api_key <YOUR_APIKEY_HERE>' \\\n    > flog.xml\n```\nDownload the entire screenshots archive for a specific analysis:\n```bash\ncurl -X 'GET' \\\n    'https://<YOUR_HOSTNAME_HERE>/rest/analysis/123/archive/screenshots' \\\n    -H 'Authorization: api_key <YOUR_APIKEY_HERE>' \\\n    > screenshots.zip\n```\nDownload only individual screenshots for a specific analysis:\n```bash\ncurl -X 'GET' \\\n    'https://<YOUR_HOSTNAME_HERE>/rest/analysis/123/archive/screenshots/7200a1be57f96d7110f6b7beb306bf869b4be729.png' \\\n    -H 'Authorization: api_key <YOUR_APIKEY_HERE>' \\\n    > 7200a1be57f96d7110f6b7beb306bf869b4be729.png\n```\n",
                "parameters": [
                    {
                        "required": true,
                        "deprecated": false,
                        "schema": {
                            "type": "integer",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_id",
                        "in": "path",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "encryption_password",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": true,
                        "deprecated": false,
                        "schema": {
                            "type": "string",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "filename",
                        "in": "path",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "filenames",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "integer",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "job_id",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Analysis File",
                        "content": {
                            "application/octet-stream": {
                                "schema": {
                                    "type": "string",
                                    "format": "binary"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Item not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "security": [
                    {
                        "apiKey": [
                            "apiKey"
                        ]
                    }
                ]
            }
        },
        "/analysis/job/{job_id}/archive": {
            "get": {
                "tags": [
                    "Analyses"
                ],
                "summary": "Get Analysis Archive",
                "description": "Retrieve the Analysis Archive of a given analysis. You can either specify the Analysis ID or the Job ID of\n the analysis. The latter can be used to save an additional API request if the Analysis ID is not known but\n the job ID is.\n \n\n\n The Analysis Archive that is returned is a standard ZIP file. It is possible to retrieve one or more\n individual files instead of the full archive using the **filename** and **filenames** parameters.\n Wildcards (* and ?) are supported when using the **filenames** parameter. For example, you could\n retrieve all extracted files in the archive (extracted_files/*).\n \n\n\n Retrieving all screenshot files in the archive can be done in the same way, by using the **filenames**\n parameter and passing screenshots/*.\n However, screenshots can also be downloaded directly using the **filename** parameter set to just\n 'screenshots'. Part of screenshot files is 'index.log', which contains meta information about available\n screenshots in the following format:\n '{timedelta} | {size} | md5={md5},sha1={sha1},sha256={sha256} | {screenshot_filename}'.\n \n\n\n Ensure that you encode slashes correctly. The **filenames** parameter allows the return of a\n filtered archive that only holds certain files. File names must be separated using commas.\n The archive might be password-protected depending on the user settings.\n Check the Console or the API for the password.\n \n\n\n \nℹ️ \n Note that downloading the screenshots is possible even if the Analysis Report is locked in the Console.\n \n\n",
                "parameters": [
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "integer",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_id",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "encryption_password",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "filename",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "filenames",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": true,
                        "deprecated": false,
                        "schema": {
                            "type": "integer",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "job_id",
                        "in": "path",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Analysis File",
                        "content": {
                            "application/octet-stream": {
                                "schema": {
                                    "type": "string",
                                    "format": "binary"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Item not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "security": [
                    {
                        "apiKey": [
                            "apiKey"
                        ]
                    }
                ]
            }
        },
        "/analysis/job/{job_id}/archive/{filename}": {
            "get": {
                "tags": [
                    "Analyses"
                ],
                "summary": "Get Analysis Archive",
                "description": "Retrieve the Analysis Archive of a given analysis. You can either specify the Analysis ID or the Job ID of\n the analysis. The latter can be used to save an additional API request if the Analysis ID is not known but\n the job ID is.\n \n\n\n The Analysis Archive that is returned is a standard ZIP file. It is possible to retrieve one or more\n individual files instead of the full archive using the **filename** and **filenames** parameters.\n Wildcards (* and ?) are supported when using the **filenames** parameter. For example, you could\n retrieve all extracted files in the archive (extracted_files/*).\n \n\n\n Retrieving all screenshot files in the archive can be done in the same way, by using the **filenames**\n parameter and passing screenshots/*.\n However, screenshots can also be downloaded directly using the **filename** parameter set to just\n 'screenshots'. Part of screenshot files is 'index.log', which contains meta information about available\n screenshots in the following format:\n '{timedelta} | {size} | md5={md5},sha1={sha1},sha256={sha256} | {screenshot_filename}'.\n \n\n\n Ensure that you encode slashes correctly. The **filenames** parameter allows the return of a\n filtered archive that only holds certain files. File names must be separated using commas.\n The archive might be password-protected depending on the user settings.\n Check the Console or the API for the password.\n \n\n\n \nℹ️ \n Note that downloading the screenshots is possible even if the Analysis Report is locked in the Console.\n \n\n",
                "parameters": [
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "integer",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_id",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "encryption_password",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": true,
                        "deprecated": false,
                        "schema": {
                            "type": "string",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "filename",
                        "in": "path",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "filenames",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": true,
                        "deprecated": false,
                        "schema": {
                            "type": "integer",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "job_id",
                        "in": "path",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Analysis File",
                        "content": {
                            "application/octet-stream": {
                                "schema": {
                                    "type": "string",
                                    "format": "binary"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Item not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "security": [
                    {
                        "apiKey": [
                            "apiKey"
                        ]
                    }
                ]
            }
        },
        "/analysis": {
            "get": {
                "tags": [
                    "Analyses"
                ],
                "summary": "Get Dynamic and Static Analysis(es)",
                "description": "Get all Dynamic and Static Analyses in the system or details about specific ones.\n \n If you want to get analyses as a feed in the order of creation, use the parameter **_last_id**.\n The parameters **_min_id** and **_max_id** are ignored.\n \n\n\n\n**Examples**\n\nGet all analyses:\n```bash\ncurl -X 'GET' \\\n    'https://<YOUR_HOSTNAME_HERE>/rest/analysis' \\\n    -H 'Authorization: api_key <YOUR_APIKEY_HERE>'\n```\n",
                "parameters": [
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "boolean",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "_count",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "integer",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "_last_id",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "integer",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "_limit",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "integer",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "_max_id",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "integer",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "_min_id",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "_order",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "integer",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_analyzer_id",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "integer",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_configuration_id",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_created",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "boolean",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_enable_custom_av",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "boolean",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_enable_local_av",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "integer",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_id",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_ioc_aggregation_state",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "integer",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_job_id",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_job_started",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_job_type",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "integer",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_jobrule_id",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_ld_filter_last_date",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_lock_status",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "boolean",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_max_recursive_samples_reached",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_mitre_attack_aggregation_state",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "integer",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_parent_analysis_id",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "boolean",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_pdf_created",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_platform",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "integer",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_prescript_id",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "boolean",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_published",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_quota_type",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "integer",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_result_code",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "integer",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_sample_id",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "integer",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_size",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "integer",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_snapshot_id",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "integer",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_static_config_id",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "integer",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_submission_id",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_system_time",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "integer",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_user_id",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_verdict",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "integer",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_verdict_reason_code",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "integer",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_vm_id",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "integer",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_vmhost_id",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_vti_aggregation_state",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_vti_built_in_rules_version",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_vti_custom_rules_hash",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "integer",
                            "deprecated": true,
                            "example": ""
                        },
                        "name": "analysis_vti_score",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_yara_latest_ruleset_date",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "integer",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_yara_match_count",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of Analyses",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AnalysisList"
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "security": [
                    {
                        "apiKey": [
                            "apiKey"
                        ]
                    }
                ]
            }
        },
        "/analysis/{analysis_id}": {
            "get": {
                "tags": [
                    "Analyses"
                ],
                "summary": "Get Dynamic and Static Analysis(es)",
                "description": "Get all Dynamic and Static Analyses in the system or details about specific ones.\n \n If you want to get analyses as a feed in the order of creation, use the parameter **_last_id**.\n The parameters **_min_id** and **_max_id** are ignored.\n \n\n\n\n**Examples**\n\nGet the analysis with an ID of **123**:\n```bash\ncurl -X 'GET' \\\n    'https://<YOUR_HOSTNAME_HERE>/rest/analysis/123' \\\n    -H 'Authorization: api_key <YOUR_APIKEY_HERE>'\n```\n",
                "parameters": [
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "boolean",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "_count",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "integer",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "_last_id",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "integer",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "_limit",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "integer",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "_max_id",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "integer",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "_min_id",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "_order",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "integer",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_analyzer_id",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "integer",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_configuration_id",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_created",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "boolean",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_enable_custom_av",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "boolean",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_enable_local_av",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": true,
                        "deprecated": false,
                        "schema": {
                            "type": "integer",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_id",
                        "in": "path",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_ioc_aggregation_state",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "integer",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_job_id",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_job_started",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_job_type",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "integer",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_jobrule_id",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_ld_filter_last_date",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_lock_status",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "boolean",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_max_recursive_samples_reached",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_mitre_attack_aggregation_state",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "integer",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_parent_analysis_id",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "boolean",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_pdf_created",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_platform",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "integer",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_prescript_id",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "boolean",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_published",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_quota_type",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "integer",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_result_code",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "integer",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_sample_id",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "integer",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_size",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "integer",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_snapshot_id",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "integer",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_static_config_id",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "integer",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_submission_id",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_system_time",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "integer",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_user_id",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_verdict",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "integer",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_verdict_reason_code",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "integer",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_vm_id",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "integer",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_vmhost_id",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_vti_aggregation_state",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_vti_built_in_rules_version",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_vti_custom_rules_hash",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "integer",
                            "deprecated": true,
                            "example": ""
                        },
                        "name": "analysis_vti_score",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_yara_latest_ruleset_date",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "integer",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_yara_match_count",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Analysis object",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AnalysisItem"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Item not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "security": [
                    {
                        "apiKey": [
                            "apiKey"
                        ]
                    }
                ]
            }
        },
        "/analysis/analyzer/{analysis_analyzer_id}": {
            "get": {
                "tags": [
                    "Analyses"
                ],
                "summary": "Get Dynamic and Static Analysis(es)",
                "description": "Get all Dynamic and Static Analyses in the system or details about specific ones.\n \n If you want to get analyses as a feed in the order of creation, use the parameter **_last_id**.\n The parameters **_min_id** and **_max_id** are ignored.\n \n\n\n\n**Examples**\n\nGet all analyses of Analyzer ID **123**:\n```bash\ncurl -X 'GET' \\\n    'https://<YOUR_HOSTNAME_HERE>/rest/analysis/analyzer/123' \\\n    -H 'Authorization: api_key <YOUR_APIKEY_HERE>'\n```\n",
                "parameters": [
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "boolean",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "_count",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "integer",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "_last_id",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "integer",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "_limit",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "integer",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "_max_id",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "integer",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "_min_id",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "_order",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": true,
                        "deprecated": false,
                        "schema": {
                            "type": "integer",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_analyzer_id",
                        "in": "path",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "integer",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_configuration_id",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_created",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "boolean",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_enable_custom_av",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "boolean",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_enable_local_av",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "integer",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_id",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_ioc_aggregation_state",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "integer",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_job_id",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_job_started",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_job_type",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "integer",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_jobrule_id",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_ld_filter_last_date",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_lock_status",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "boolean",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_max_recursive_samples_reached",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_mitre_attack_aggregation_state",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "integer",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_parent_analysis_id",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "boolean",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_pdf_created",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_platform",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "integer",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_prescript_id",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "boolean",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_published",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_quota_type",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "integer",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_result_code",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "integer",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_sample_id",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "integer",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_size",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "integer",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_snapshot_id",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "integer",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_static_config_id",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "integer",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_submission_id",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "deprecated": false,
                            "example": ""
                        },
                        "name": "analysis_system_time",
                        "in": "query",
                        "allowEmptyValue": false,
                        "allowReserved": false
                    },
                    {
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "integer",
                            "deprecated": false,
                            "example": ""
[...]
